<div ng-controller="opcRunnerController as vm">
    <div class="panel-content">
        <div ng-if="vm.state == null" style="padding: 10px;">
            <b>To start, select the items (operations and variables) that constitute your model. Then click "get initial state"</b>
            <textarea class="form-control" ng-model="vm.selected" ng-list/>
            <button class="btn btn-default" ng-click="vm.reload_selection()">
                <i class="fa fa-download"></i>
                get selected items
            </button>
            <button class="btn btn-default" ng-click="vm.attributes = []">
                <i class="fa fa-times"></i>
                clear
            </button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.get_init_state()">
                <i class="fa fa-play"></i> Get initial state
            </button>
        </div>
        <div ng-if="vm.state != null">
            <div style="padding: 10px; float: left; width: 50%">
                <h4>Enabled operations</h4>
                <table ng-repeat="op in vm.enabled">
                    <tr>
                        <td style="padding: 5px">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.execute_op(vm.state,op)">
                                <i class="fa fa-play"></i>{{vm.get_item_name(op)}}
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="padding: 10px; float: right; width: 50%">
                <h4>System state</h4>
                <table>
                    <thead>
                        <th class="col-md-4">Item</th>
                        <th class="col-md-4">State</th>
                        <th class="col-md-4"></th>
                    </thead>
                    <tbody ng-repeat="(k,v) in vm.state">
                        <tr>
                            <td class="col-md-4">{{vm.get_item_name(k)}}</td>
                            <td class="col-md-4">{{vm.get_item_state(k)}}</td>
                            <td class="col-md-4"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
