<div ng-controller="opcRunnerController as vm">
    <div class="panel-content">
        <div ng-if="vm.state == null">
            <b>To start, select the items (operations and variables) that constitute your model. Then click "get initial state"</b>
            <textarea class="form-control" ng-model="vm.selected" ng-list/>
            <button class="btn btn-default" ng-click="vm.reload_selection()">
                <i class="fa fa-download"></i>
                get selected items
            </button>
            <button class="btn btn-default" ng-click="vm.attributes = []">
                <i class="fa fa-times"></i>
                clear
            </button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.get_init_state()">
                <i class="fa fa-play"></i> Get initial state
            </button>
        </div>
        <div ng-if="vm.state != null">
            <div ng-if="vm.nextToRun != null">
                <button type="button" class="btn btn-sm btn-primary" ng-click="vm.execute_op(vm.state,vm.nextToRun)">
                    <i class="fa fa-play"></i> Start next operation:<br>{{vm.nextToRun}}
                </button>
            </div>
            <small>Current state: {{vm.state}}</small><br>
            <small>Enabled operations: {{vm.enabled}}</small><br>
        </div>

    </div>
</div>
