<table class="table-bordered attr-table" attr-context-menu attr-obj="attrObj" edit="edit">
  <tr class="form-inline" ng-repeat="(attr, attrVal) in attrObj" ng-init="type = getType(attrVal)">
    <td class="col-md-1">{{attr}}:</td>
    <td>
      <span ng-if="!edit && type === 'string'">{{attrVal}}</span>
      <input ng-if="edit && type === 'string'" type="text" class="form-control input-sm" ng-model="attrObj[attr]" />
      <span ng-if="!edit && type === 'date' ">{{attrVal | date:'yyyy-MM-dd HH:mm:ss'}}</span>
      <input ng-if="edit && type === 'date'" id="datetimeInput" step=1 name="datetimeInput" type="datetime-local" class="form-control input-sm" ng-model="attrObj[attr]" />
      <attr-grid ng-if="type === 'object'" edit="edit" attr-obj="attrVal"></attr-grid>
    </td>
    <td ng-if="edit">
      <span ng-click="deleteObjProp(attrObj,attr);" class="btn btn-sm btn-default glyphicon glyphicon-minus"></span>
    </td>
  </tr>
  <tr ng-show="isEmpty(attrObj)">
    <td>None</td>
  </tr>
</table>
