<ng-form name="conditionsForm">
  <table class="table">
    <tr>
      <td class="col-md-1">guard: </td>
      <td ng-if="!row.edit">{{prop.g}}</td>
      <td ng-show="row.edit">
        <input name="guardInput" id="guardInput-{{item.id}}" ng-model="guardModel" ng-trim="false" prop-parse="{item: item, key: key, guardOrAction: 'guard'}" type="text" class="guard-input form-control input-sm" />
        <span class="error" ng-show="conditionsForm.guardInput.$error.maxlength">Not too long, please.</span>
        <span class="glyphicon prop-parse" ng-class="{false:'glyphicon-ok', true:'glyphicon-remove'}[conditionsForm.guardInput.$error.nameToIds]"></span>
        <span class="glyphicon prop-parse" ng-class="{false:'glyphicon-ok', true:'glyphicon-remove'}[conditionsForm.guardInput.$error.propParse]"></span>
      </td>
    </tr>
    <tr>
      <td>action: </td>
      <td ng-if="!row.edit">{{prop.a}}</td>
      <td ng-show="row.edit">
        <input name="actionInput" id="actionInput-{{item.id}}" ng-model="actionModel" ng-trim="false" type="text" class="action-input form-control input-sm" />
        <span class="error" ng-show="conditionsForm.actionInput.$error.maxlength">Not too long, please.</span>
      </td>
    </tr>
    <tr>
      <td>attributes: </td>
      <td><attr-grid attr-obj="prop.attributes" edit="row.edit" attribute-types="attributeTypes"></attr-grid></td>
    </tr>
  </table>
</ng-form>