<table class="table attr-table" ng-if="!edit">
    <tr ng-repeat="cond in conditions | filter:emptyGuard" ng-init="guardAsText = itemSvc.guardAsText(cond.guard)">
      <td class="col-md-1"><span ng-if="$first">guard:</span></td>
      <td class="col-md-1"><span>{{cond.attributes.kind}}</span></td>
      <td class="col-md-1"><span>{{cond.attributes.group}}</span></td>
      <td>{{guardAsText}}</td>
    </tr>
    <tr ng-repeat="cond in conditions" ng-init="actionAsText = itemSvc.actionAsText(cond.action)">
      <td><span ng-if="$first">action:</span></td>
      <td><span>{{cond.attributes.kind}}</span></td>
      <td><span>{{cond.attributes.group}}</span></td>
      <td>{{actionAsText}}</td>
    </tr>
</table>


<ng-form ng-if="edit" name="conditionsForm" ng-repeat="condition in conditions">
  <table class="table attr-table">
    <tr>
      <td class="col-md-1">kind: </td>
      <td>
        <select class="form-control input-sm" ng-model="condition.attributes.kind">
          <option>pre</option>
          <option>post</option>
        </select>
      </td>
      <td><button ng-if="edit" class="btn btn-sm btn-default" ng-click="removeCondition($index)"><span class="glyphicon glyphicon-minus"></span></button></td>
    </tr>
    <tr>
      <td>group: </td>
      <td><attr-grid attr-obj="condition.attributes" edit="edit" key="'group'"></attr-grid></td>
    </tr>
    <tr ng-init="guardOrAction = 'guard'">
      <td>guard: </td>
      <td>
        <input autocomplete="off" name="guardInput" class="guard-input form-control input-sm" ng-model="guardModel" condition-suggestions prop-parse ng-trim="false" type="text"/>
        <span class="glyphicon prop-parse" ng-class="{false:'glyphicon-ok', true:'glyphicon-remove'}[conditionsForm.guardInput.$error.nameToIds]"></span>
        <span class="glyphicon prop-parse" ng-class="{false:'glyphicon-ok', true:'glyphicon-remove'}[conditionsForm.guardInput.$error.propParse]"></span>
        <span class="error" ng-show="conditionsForm.guardInput.$error.maxlength"><br />Not too long, please.</span>
        <!--<span class="error" ng-show="conditionsForm.guardInput.$dirty && conditionsForm.guardInput.$error.required"><br />At least one guard is required.</span>-->
      </td>
    </tr>
    <tr ng-init="guardOrAction = 'action'">
      <td>action: </td>
      <td>
        <input autocomplete="off" name="actionInput" class="action-input form-control input-sm" ng-model="actionModel" condition-suggestions prop-parse ng-trim="false" type="text" ng-disabled="!edit"/>
        <span class="glyphicon prop-parse" ng-class="{false:'glyphicon-ok', true:'glyphicon-remove'}[conditionsForm.actionInput.$error.nameToIds]"></span>
        <span class="glyphicon prop-parse" ng-class="{false:'glyphicon-ok', true:'glyphicon-remove'}[conditionsForm.actionInput.$error.actionParse]"></span>
        <!--<span class="error" ng-show="conditionsForm.actionInput.$dirty && conditionsForm.actionInput.$error.required"><br />At least one action is required.</span>-->
        <span class="error" ng-show="conditionsForm.actionInput.$error.maxlength"><br/>Not too long, please.</span>
      </td>
    </tr>
  </table>
</ng-form>