<div class="modal-header">
    <h3 class="modal-title">Create model</h3>
</div>
<form name="createModelForm">
<div class="modal-body">
        Name of new model: <input name="modelName" type="text" ng-trim="false" ng-pattern="/^[A-Za-z0-9\_\-][A-Za-z0-9\_\-]*$/" ng-maxlength="30" unique="existingModels" class="form-control" auto-focus required ng-model="enteredModelName"/>
        <span class="error" ng-show="createModelForm.modelName.$dirty && createModelForm.modelName.$error.required">You have to choose a name.</span>
        <span class="error" ng-show="createModelForm.modelName.$error.pattern">No whitespace or special characters (except _ and -) are allowed.</span>
        <span class="error" ng-show="createModelForm.modelName.$error.unique">A model with this name does already exist.</span>
    <span class="error" ng-show="createModelForm.modelName.$error.maxlength">Not too long, please.</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="createModelForm.$valid && saveModel(enteredModelName)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    <button class="btn btn-default" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Close</button>
</div>
</form>

<!---->