<div class="modal-header">
  <h3 class="modal-title">Save as...</h3>
</div>
<form name="createSOPSpecForm">
<div class="modal-body">
  Name: <input name="sopSpecName" type="text" ng-trim="false" ng-pattern="namePattern" ng-maxlength="30" class="form-control" auto-focus required ng-model="enteredSOPSpecName"/>
  <span class="error" ng-show="createSOPSpecForm.sopSpecName.$dirty && createSOPSpecForm.sopSpecName.$error.required">You have to choose a name.</span>
  <span class="error" ng-show="createSOPSpecForm.sopSpecName.$error.pattern">No whitespace or special characters (except _ and -) are allowed.</span>
  <span class="error" ng-show="createSOPSpecForm.sopSpecName.$error.maxlength">Not too long, please.</span>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="createSOPSpecForm.$valid && save()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
  <button class="btn btn-default" ng-click="dismiss()"><span class="glyphicon glyphicon-remove"></span> Close</button>
</div>
</form>