<div class="btn-toolbar" role="toolbar">
  <button type="button" class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
  <button type="button" class="btn btn-default" ng-click="createItem('Operation')"><span class="glyphicon glyphicon-asterisk"></span> Create Op</button>
  <button type="button" class="btn btn-default" ng-click="createItem('Thing')"><span class="glyphicon glyphicon-asterisk"></span> Create Thing</button>
  <button type="button" class="btn btn-default" ng-click="createItem('SOPSpec')"><span class="glyphicon glyphicon-asterisk"></span> Create SOPSpec</button>
  <button type="button" class="btn btn-default" ng-click="createItem('SPObject')"><span class="glyphicon glyphicon-asterisk"></span> Create SPObject</button>
  <button type="button" class="btn btn-default" ng-click="createItem('SPSpec')"><span class="glyphicon glyphicon-asterisk"></span> Create SPSpec</button>
</div>
<div>
    <table class="table">
        <thead><tr><th class="col-md-2">Name</th><th class="col-md-2">Type</th></tr></thead>
        <tbody>
          <!--<tr ng-repeat="item in items" ng-init="row={expanded:false}">
            <td>{{item.name}}</td>
            <td>{{item.isa}}</td>
            <td><span ng-click="row.mode='edit'" class="btn btn-default glyphicon glyphicon-pencil"></span></td>
            <td><span ng-click="row.expanded=!row.expanded" class="btn btn-default glyphicon glyphicon-expand"></span></td>
          </tr>
          <tr ng-show="row.expanded===true" class="">
            <td>id: xxxxxx-xxx-xxxxx</td>
            <td>version: 1</td>
            <td></td>
            <td></td>
          </tr>-->
            <tr ng-repeat-start="item in items" data-toggle="collapse" data-target="#{{item.id}}" class="accordion-toggle" ng-class-odd="'odd-row'" ng-init="row={edit:false}">
              <td>
                <span ng-if="!row.edit">{{item.name}}</span>
                <input ng-if="row.edit" name="opNameInput" type="text" ng-maxlength="30" unique="items" ng-disabled="!row.edit" class="form-control input-sm" auto-focus required ng-model="row.opNameModel" ng-init="row.opNameModel=item.name"/></td>
              <td>{{item.isa}}</td>
            </tr>

            <tr ng-repeat-end ng-class-odd="'odd-row'" style="height: 0px;">
              <td colspan="6" class="hiddenRow">
                <div class="accordion-body collapse" id="{{item.id}}">
                  <table class="table collapsed-row">
                    <tbody>
                      <tr>
                        <td class="col-md-2">id: {{item.id}}</td>
                        <td class="col-md-1">version: {{item.version}}</td>
                        <td class="col-md-1" rowspan="2">
                          <span ng-if="row.edit" ng-click="item.name = row.opNameModel; row.edit=false; " class="btn btn-default glyphicon glyphicon-floppy-disk"></span>
                          <span ng-click="row.edit=!row.edit" class="btn btn-default glyphicon" ng-class="{true: 'glyphicon-remove', false: 'glyphicon-pencil'}[row.edit]"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>attributes: {{item.attributes}}</td>
                        <td>conditions: {{item.conditions}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
        </tbody>
    </table>
</div>


<!--ng-include="{'normal':'views/row_normal.html','expanded':'views/row_expanded.html','edit':'views/row_edit.html'}[row.mode]"-->