<table class="table item-table">
  <tbody>
  <tr ng-if="items.length === 0"><td colspan="99">There are no items to show.</td></tr>

  <tr ng-repeat-start="item in items track by item.id" create-context-menu ng-click="itemListSvc.expandChildren(row)" item-drag="{isa: 'Hierarchy', id: item.id}" ng-attr-draggable="{{(item.isa === 'Operation') ? 'true' : 'false'}}" class="accordion-toggle" ng-class-odd="'odd-row'" ng-class-even="'even-row'" ng-init="row={edit: false, loadChildren: false, expandChildren: false, infoIsCollapsed: true, children: []}">
    <td class="checkbox-column"><input type="checkbox" ng-click="itemListSvc.stopPropagation($event)" ng-model="item.checked" ng-change="alterCheckedArray(item)" /></td>
    <td ng-repeat="column in selection">{{item[column]}}</td>
    <td ng-repeat="attrColumn in attrSelection">{{item['attributes'][attrColumn]}}</td>
    <td>
      <button class="btn btn-xs btn-default" ng-click="row.expandChildren = false; row.infoIsCollapsed = !row.infoIsCollapsed; itemListSvc.stopPropagation($event);" ng-if="!row.edit"><span class="glyphicon glyphicon-info-sign"></span></button>
      <button class="btn btn-xs btn-default" ng-click="row.expandChildren = false; row.infoIsCollapsed = false; row.edit=true; itemListSvc.stopPropagation($event);" ng-if="!row.edit" ><span class="glyphicon glyphicon-edit"></span></button>
      <button class="btn btn-xs btn-default" ng-click="itemForm.$valid && itemListSvc.saveItem(item, row); itemListSvc.stopPropagation($event);" ng-if="row.edit" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span></button>
      <button class="btn btn-xs btn-default" ng-click="itemListSvc.reReadFromServer(item, row); itemListSvc.stopPropagation($event);" ng-if="row.edit" ><span class="glyphicon glyphicon-remove"></span></button>
      <button class="btn btn-xs btn-default" ng-click="itemListSvc.deleteItem(item); itemListSvc.stopPropagation($event);" ng-if="!row.edit"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
  </tr>

  <tr ng-class-odd="'odd-row'" ng-class-even="'even-row'">
    <td colspan="99" class="hiddenRow">
      <form class="form-inline" name="itemForm" ng-submit="itemForm.$valid && itemListSvc.saveItem(item, row);">
        <div collapse="row.infoIsCollapsed">
          <table class="table">
            <tbody>
            <tr ng-repeat="(key, prop) in item" ng-if="itemListSvc.shouldBeShown(key)">
              <td class="col-md-1">{{key}}:</td>
              <td class="col-md-9">
                <span ng-if="!itemListSvc.hasItsOwnViewer(key) && !row.edit || !itemListSvc.isEditable(key)">{{prop}}</span>
                <ng-form ng-if="!itemListSvc.hasItsOwnEditor(key) && itemListSvc.isEditable(key) && row.edit" name="textForm">
                  <input no-whitespace name="textInput" type="text" ng-maxlength="40" class="form-control input-sm" ng-model="item[key]" />
                  <span class="error" ng-show="textForm.textInput.$error.nowhitespace"><br />Whitespace is not allowed here.</span>
                </ng-form>
                <attr-grid ng-if="key==='attributes'" attr-obj="prop" edit="row.edit"></attr-grid>
                <sv-grid ng-if="key==='stateVariables'" sv-array="prop" edit="row.edit"></sv-grid>
                <button ng-if="key==='sop'" ng-click="itemListSvc.openSopInNewWindow(item, addWindow)" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-new-window"></span> View in sopMaker</button>
                <conditions ng-if="key==='conditions'" ng-repeat="condition in item.conditions"></conditions>
                <button ng-if="key==='conditions' && row.edit" class="btn btn-sm btn-default" ng-click="itemListSvc.addCondition(item)"><span class="glyphicon glyphicon-plus"></span> Add condition</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div> <!-- end of accordion-body -->
      </form>
    </td>
  </tr>

  <tr ng-repeat-end ng-class-odd="'odd-row'" ng-class-even="'even-row'">
    <td colspan="99" class="hiddenRow">
      <form class="form-inline" name="itemForm">
        <div style="margin-left: 5%;" ng-if="row.loadChildren" collapse="!(row.expandChildren && row.loadChildren)">
          <item-table parent-item="item" alter-checked-array="alterCheckedArray" selection="selection" attr-selection="attrSelection" add-window="addWindow"></item-table>
        </div> <!-- end of accordion-body -->
      </form>
    </td>
  </tr>
  </tbody>
</table>