<table class="table item-table">
  <tbody>
  <tr ng-repeat-start="item in items" data-toggle="collapse" data-target="#{{parentId}}-{{$index}}" item-drag="{isa: 'Hierarchy', id: item.id}" ng-attr-draggable="{{(item.isa === 'Operation') ? 'true' : 'false'}}" class="accordion-toggle" ng-class-odd="'odd-row'" ng-class-even="'even-row'" ng-init="row={edit:false}">
    <td class="checkbox-column"><input type="checkbox" ng-click="itemListSvc.stopPropagation($event)" ng-model="item.checked" ng-change="alterCheckedArray(item)" /></td>
    <td ng-repeat="column in selection">{{item[column]}}</td>
    <td ng-repeat="attrColumn in attrSelection">{{item['attributes'][attrColumn]}}</td>
  </tr>

  <tr ng-repeat-end ng-class-odd="'odd-row'" ng-class-even="'even-row'" style="height: 0px;">
    <td colspan="99" class="hiddenRow">
      <form class="form-inline" name="itemForm">
        <div class="accordion-body collapse" id="{{parentId}}-{{$index}}">
          <table class="table collapsed-row">
            <tbody>
            <tr>
              <td>editing: </td>
              <td>
                <button ng-click="itemForm.$valid && itemListSvc.saveItem(item, row, getFilterAndOrderItems)" type="submit" ng-if="row.edit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                <button ng-click="itemListSvc.reReadFromServer(item, row, getFilterAndOrderItems)" ng-if="row.edit" class="btn btn-default"><span class="glyphicon glyphicon-remove stacked-buttons"></span> Cancel</button>
                <button ng-click="row.edit=true;" ng-if="!row.edit" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
              </td>
            </tr>
            <tr ng-repeat="(key, prop) in item" ng-if="itemListSvc.shouldBeShown(key)">
              <td class="col-md-1">{{key}}:</td>
              <td class="col-md-9">
                <span ng-if="!itemListSvc.hasItsOwnViewer(key) && !row.edit || !itemListSvc.isEditable(key)">{{prop}}</span>
                <ng-form ng-if="!itemListSvc.hasItsOwnEditor(key) && itemListSvc.isEditable(key) && row.edit" name="textForm">
                  <input no-whitespace name="textInput" type="text" ng-maxlength="40" class="form-control input-sm" ng-model="item[key]" />
                  <span class="error" ng-show="textForm.textInput.$error.nowhitespace"><br />Whitespace is not allowed here.</span>
                </ng-form>
                <attr-grid ng-if="key==='attributes'" attr-obj="prop" edit="row.edit" attribute-types="attributeTypes"></attr-grid>
                <sv-grid ng-if="key==='stateVariables'" sv-array="prop" edit="row.edit" attribute-types="attributeTypes"></sv-grid>
                <button ng-if="key==='sop'" ng-click="itemListSvc.openSopInNewWindow(item, addWindow)" class="btn btn-default"><span class="glyphicon glyphicon-new-window"></span> View in sopMaker</button>
                <conditions ng-if="key==='conditions'" ng-repeat="condition in item.conditions"></conditions>
                <button ng-if="key==='conditions' && row.edit" class="btn btn-default" ng-click="itemListSvc.addCondition(item)"><span class="glyphicon glyphicon-plus"></span> Add condition</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div> <!-- end of accordion-body -->
      </form>
    </td>
  </tr>
  </tbody>
</table>