<div class="modal-header">
    <h3 class="modal-title">Import Model</h3>
</div>
<div class="modal-body">
    <div>


      <select ng-options="t as t.name for t in filetypes" ng-model="filetype">
      </select>

      <div ng-repeat="f in filetypes">{{f.name}}</div>

        <input type="file" ng-file-select="onFileSelect($files)">
        <!--<input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">-->
        <!--<div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>-->
        <!--<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"-->
             <!--ng-show="dropSupported">drop files here</div>-->
        <!--<div ng-file-drop-available="dropSupported=true"-->
             <!--ng-show="!dropSupported">HTML5 Drop File is not supported!</div>-->
        <!--<button ng-click="upload.abort()">Cancel Upload</button>-->
    </div>
</div>
<!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" ng-click=""><span class="glyphicon glyphicon-asterisk"></span> Create Model</button>-->
    <!--<button class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-remove"></span> Close</button>-->
<!--</div>-->
