<div class="modal-header">
    <h3 class="modal-title">Edit OPC Tags</h3>
</div>
<form class="form-inline" name="idToTagForm" novalidate>
<div class="modal-body">
  <table class="table">
    <thead><tr><th>SP Item Name</th><th>OPC Tag</th></tr></thead>
    <tbody>
      <tr ng-repeat="(id, tag) in opcSpec.attributes.idsToTags">
        <td>{{itemName(id)}}</td>
        <td>
          <ng-form name="subForm">
          <input type="text" name="tag" class="form-control input-sm" ng-model="opcSpec.attributes.idsToTags[id]" required />
          <span class="error" ng-show="(idToTagForm.$submitted || subForm.tag.$touched) && subForm.tag.$error.required"><br />You have to choose a tag.</span>
          </ng-form>
        </td>
        <td><button class="btn btn-default btn-sm" ng-click="removeTag(id)"><span class="glyphicon glyphicon-trash"></span></button></td>
      </tr>
    </tbody>
  </table>
  <br />
  <select class="form-control input-sm" name="id" ng-model="selectedID" ng-options="itemName(id) for id in notYetAddedItems()">
    <option value="">-- Select an item --</option>
  </select>
  <button class="btn btn-default" ng-click="addTag()"><span class="glyphicon glyphicon-tag"></span> Add tag</button>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" ng-disabled="idToTagForm.$pristine" ng-click="idToTagForm.$valid && save()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
  <button class="btn btn-default" ng-click="dismiss()"><span class="glyphicon glyphicon-remove"></span> Close</button>
</div>
</form>