<div class="header">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-default" ng-click="ps_import()" title="Import PS Objects"><span class="glyphicon glyphicon-refresh"></span></button>    
  </div> <!-- end of toolbar -->
</div> <!-- end of header -->

<div class="content">
  <div class="content-wrapper">
    <div style="overflow: hidden;">

      <h4>IMPORTING TO AND FROM PS</h4>
    <button type="button" class="btn btn-default" ng-click="ps_createOP()" title="Create OP in PS">Create compound op</button>

    </div>
  </div> <!-- end of content-wrapper -->
</div> <!-- end of content -->
