<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-wrench"></span> Settings</h3>
</div>
<div class="modal-body">
  <table class="table">
    <tbody>
      <tr>
        <td>Attribute Tags</td>
        <td>
          <attr-tag-grid style="display: block;" attr-tags-obj="spTalker.activeModel.attributes.attributeTags"></attr-tag-grid>
        </td>
      </tr>
      <tr>
        <td>Condition groups</td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="group in spTalker.activeModel.attributes.conditionGroups">
                <td>{{group}}</td><td><button class="btn btn-sm btn-default" ng-click="removeConditionGroup(group)"><span class="glyphicon glyphicon-minus"></span></button></td>
              </tr>
              <tr>
                <td colspan="2">
                  <form class="form-inline" name="conditionGroupForm">
                    <input class="form-control input-sm" required type="text" ng-model="newConditionGroup">
                    <button class="btn btn-sm btn-default" ng-click="conditionGroupForm.$valid && addConditionGroup()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
  <button class="btn btn-default" ng-click="reset()"><span class="glyphicon glyphicon-fast-backward"></span> Reset</button>
  <button class="btn btn-default" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Close</button>
</div>