<table class="table-bordered sv-table" >
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Domain</th>
      <th ng-if="edit">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr class="form-inline" ng-repeat="sv in svArray" ng-init="nameInputName = 'name' + sv.id">
      <td>
        <ng-form name="svNameForm">
          <span ng-if="!edit">{{sv.name}}</span>
          <input ng-if="edit" name="svName" type="text" ng-trim="false" ng-pattern="namePattern" ng-maxlength="30" required unique="{'existingObjects': svArray, editedObj: sv, 'propKey': 'name'}" class="form-control input-sm" ng-model="sv.name" /><br/>
          <span class="error" ng-show="svNameForm.svName.$dirty && svNameForm.svName.$error.required">You have to choose a name.</span>
          <span class="error" ng-show="svNameForm.svName.$error.pattern">No whitespace or special characters (except _ and -) are allowed.</span>
          <span class="error" ng-show="svNameForm.svName.$error.unique">A stateVar with this name does already exist.</span>
          <span class="error" ng-show="svNameForm.svName.$error.maxlength">Not too long, please.</span>
        </ng-form>
      </td>
      <td>
        {{sv.id}}
      </td>
      <td ng-if="exists(sv.attributes.domain)">
        <attr-grid attr-obj="sv.attributes" key="'domain'" edit="edit"></attr-grid>
      </td>
      <td ng-if="exists(sv.attributes.range)">
        <table>
          <tr>
            <td>start:</td>
            <td><input ng-if="edit" type="number" required class="form-control input-sm" ng-model="sv.attributes.range.start" step="{{sv.attributes.range.step}}" /><span ng-if="!edit">{{sv.attributes.range.start}}</span><br /></td>
          </tr>
          <tr>
            <td>end:</td>
            <td><input ng-if="edit" type="number" required class="form-control input-sm" ng-model="sv.attributes.range.end" step="{{sv.attributes.range.step}}" /><span ng-if="!edit">{{sv.attributes.range.end}}</span><br /></td>
          </tr>
          <tr>
            <td>step:</td>
            <td><input ng-if="edit" type="number" required class="form-control input-sm" ng-model="sv.attributes.range.step" step="0.1" /><span ng-if="!edit">{{sv.attributes.range.step}}</span><br /></td>
          </tr>
        </table>
      </td>
      <td ng-if="exists(sv.attributes.boolean)">boolean</td>
      <td ng-if="edit">
        <span ng-click="deleteSV(svArray, sv);" class="btn btn-sm btn-default glyphicon glyphicon-minus"></span>
      </td>
    </tr>
    </tbody>
</table>

<div ng-if="edit" class="btn-group" dropdown>
  <button type="button" class="btn btn-sm btn-default dropdown-toggle">
    <span class="glyphicon glyphicon-plus"></span> Add stateVariable <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="type in ['domain', 'range', 'boolean']" ng-click="itemListSvc.addStateVar(svArray, type)"><a href="#">{{type}}</a></li>
  </ul>
</div>