<ul ui-sortable="sortableOptions" ng-model="windows" id="sortable" class="list-unstyled windows">
  <li class="window sizeTransition" ng-repeat="window in windows" ng-class="{'col-md-3': window.width === 1, 'col-md-6': window.width === 2, 'col-md-9': window.width === 3, 'col-md-12': window.width === 4, 'smallPanelHeight': window.height === 'small', 'largePanelHeight': window.height === 'large'}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="draggable pull-right">
          <span class="glyphicon" ng-class="{sopMaker: 'glyphicon-th-large', itemList: 'glyphicon-list'}[window.type]"></span> {{window.name}}
        </span>
        <span>
          <span ng-click="closeWindow(window)" class="btn btn-default glyphicon glyphicon-remove"></span>
          <span ng-click="changeWindowWidth(window, true)" class="btn btn-default glyphicon"><span class="glyphicon-plus" /></span>
          <span ng-click="changeWindowWidth(window, false)" class="btn btn-default glyphicon"><span class="glyphicon-minus" /></span>
          <span ng-click="toggleWindowHeight(window)" class="btn btn-default glyphicon glyphicon-resize-vertical"></span>
        </span>
      </div>
      <div class="panel-body sizeTransition" ng-switch on="window.type" ng-class="{'smallBodyHeight': window.height === 'small', 'largeBodyHeight': window.height === 'large'}">
          <sopmaker ng-switch-when="sopMaker" window-storage="window.storage" class="wrapper"></sopmaker>
          <itemlist ng-switch-when="itemList" class="wrapper"></itemlist>
          <relationident ng-switch-when="identifyRelations" class="wrapper" add-window="addWindow"></relationident>
      </div>
    </div>
  </li>
</ul>