<ul ui-sortable="sortableOptions" ng-model="windows" id="sortable" class="list-unstyled windows">
  <li class="window sizeTransition" ng-repeat="window in windows" ng-class="{'col-md-2': window.width === 0, 'col-md-3': window.width === 1, 'col-md-6': window.width === 2, 'col-md-9': window.width === 3, 'col-md-12': window.width === 4, 'smallPanelHeight': window.height === 'small', 'largePanelHeight': window.height === 'large'}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="draggable pull-right">
          <span class="glyphicon" ng-class="{sopMaker: 'glyphicon-th-large', sopViewer: 'glyphicon-th-large', itemList: 'glyphicon-list', itemTree: 'glyphicon-tree-deciduous', itemExplorer: 'glyphicon-search', itemInfo: 'glyphicon-info-sign', identifyRelations: 'glyphicon-link', ganttSchedule: 'glyphicon-tasks'}[window.type]"></span> {{window.name}}
        </span>
        <span>
          <span ng-click="closeWindow(window)" class="btn btn-default glyphicon glyphicon-remove" title="Close window"></span>
          <span ng-click="changeWindowWidth(window, true)" class="btn btn-default glyphicon"><span class="glyphicon-plus" title="Increase window width"/></span>
          <span ng-click="changeWindowWidth(window, false)" class="btn btn-default glyphicon"><span class="glyphicon-minus" title="Decrease window width"/></span>
          <span ng-click="toggleWindowHeight(window)" class="btn btn-default glyphicon glyphicon-resize-vertical" title="Toggle window height"></span>
        </span>
      </div>
      <div class="panel-body sizeTransition" ng-switch on="window.type" ng-class="{'smallBodyHeight': window.height === 'small', 'largeBodyHeight': window.height === 'large'}">
        <sopmaker ng-switch-when="sopMaker" window-storage="window.storage" class="wrapper"></sopmaker>
        <sopmaker ng-switch-when="sopViewer" window-storage="window.storage" class="wrapper"></sopmaker>
        <itemlist ng-switch-when="itemList" window-storage="window.storage" class="wrapper"></itemlist>
        <itemlist ng-switch-when="itemTree" window-storage="window.storage" class="wrapper"></itemlist>
        <item-explorer ng-switch-when="itemExplorer" window-storage="window.storage" class="wrapper"></item-explorer>
        <item-explorer ng-switch-when="itemInfo" window-storage="window.storage" class="wrapper"></item-explorer>
        <relationident ng-switch-when="identifyRelations" class="wrapper" ></relationident>
        <gantt-schedule ng-switch-when="schedule" class="wrapper"></gantt-schedule>
      </div>
    </div>
  </li>
</ul>
