<div ng-controller="exampleWidgetController as vm" class="simple-widget">
    <div class="panel-content">
        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.clearEventLog()">
            <i class="fa fa-eraser"></i> Clear log
        </button>
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="ev in vm.eventLog" ng-class-odd="'odd-row'" ng-class-even="'even-row'">
                    <td>{{ev}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
