<div ng-controller="opcRunnerController as vm">
    <div class="panel-content">
        <div ng-if="vm.state == null" style="padding: 10px;">
            <b>To start, select the items (operations and variables) that constitute your model. Then click "get initial state"</b>
            <textarea class="form-control" ng-model="vm.selected" ng-list/>
            <button class="btn btn-default" ng-click="vm.reload_selection()">
                <i class="fa fa-download"></i>
                get selected items
            </button>
            <button class="btn btn-default" ng-click="vm.attributes = []">
                <i class="fa fa-times"></i>
                clear
            </button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.get_init_state()">
                <i class="fa fa-play"></i> Get initial state
            </button>
        </div>
        <div ng-if="vm.state != null">
            <div style="padding: 10px; float: left; width: 50%">
                <h4>Enabled operations</h4>
                <label>Filter operations: <input ng-model="vm.manualOpsFilterQuery"></label>
                <table ng-repeat="op in vm.manualEnabled | orderBy:'name' | filter:vm.manualOpsFilterQuery">
                    <tr>
                        <td style="padding: 5px">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.execute_op(vm.state,op.id)">
                                <i class="fa fa-play"></i>{{op.name}}
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="padding: 10px; float: right; width: 50%">
                <h4>System state</h4>
                <label>Filter operations: <input ng-model="vm.opsFilterQuery"></label>
                <table width="100%" border="1">
                    <thead>
                        <th class="col-md-6">Operation</th>
                        <th class="col-md-4">State</th>
                        <th class="col-md-2">Autorun</th>
                    </thead>
                    <tbody ng-repeat="op in vm.operations | orderBy:'name' |  filter:vm.opsFilterQuery">
                        <tr>
                            <td>{{op.name}}</td>
                            <td><div ng-if="op.state=='executing'">
                                    <u><a ng-click="vm.force_finish(op.item.id)" style="cursor:pointer;" uib-tooltip="click here to force finish event">{{op.state}}</a></u>
                                </div>
                                <div ng-if="op.state!='executing'">
                                    {{op.state}}
                                </div>
                            </td>
                            <td><center><input type="checkbox" ng-model="op.item.attributes.autostart"/></center></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <label>Filter variables: <input ng-model="vm.varsFilterQuery"></label>
                <table width="100%" border="1">
                    <thead>
                        <th class="col-md-6">Variable</th>
                        <th class="col-md-6">State</th>
                    </thead>
                    <tbody ng-repeat="op in vm.variables | orderBy:'name' |  filter:vm.varsFilterQuery">
                        <tr>
                            <td>{{op.name}}</td>
                            <td>{{op.state}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <label>Filter devices: <input ng-model="vm.devsFilterQuery"></label>
                <table width="100%" border="1">
                    <thead>
                        <th class="col-md-6">Device</th>
                        <th class="col-md-3">Pose</th>
                        <th class="col-md-3">Pose name</th>
                    </thead>
                    <tbody ng-repeat="dev in vm.devices | orderBy:'item.name' |  filter:vm.devsFilterQuery">
                        <tr>
                            <td>{{dev.item.name}}</td>
                            <td><small>{{dev.current_pose}}</small></td>
                            <td><b>{{dev.current_pose_name}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
