<section class="settings-page mainbar">
    <div class="container">
        <sp-widget widget="vm.widget" show-close-btn="false">
            <form class="form-inline">
                <div class="settings-table-container">
                    <table>
                        <tbody>
                            <tr>
                                <td>Color theme</td>
                                <td>
                                    <select class="form-control input-sm" ng-model="vm.settingsService.storage.currentColor"
                                    ng-options="color_theme for color_theme in vm.colorOptions"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button ng-click="vm.updateColorTheme()">
                        Save options
                    </button>
                </div>
            </form>
        </sp-widget>
    </div>
</section>

                  
