<section class="settings-page mainbar">
    <div class="container">
        <sp-widget widget="vm.widget" show-close-btn="false">
            <form class="form-inline">
                <div class="settings-table-container">
                    <table>
                        <tbody>
                            <tr>
                                <td>Color theme</td>
                                <td>
                                    <select class="form-control input-sm" ng-model="vm.settingsService.storage.current_color_theme"
                                            ng-options="color_theme for color_theme in vm.settingsService.availible_options.saved_color_themes"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="settings-table-container">
                    <table>
                        <tbody>
                            <tr>
                                <td>Layout theme</td>
                                <td>
                                    <select class="form-control input-sm" ng-model="vm.settingsService.storage.current_layout_theme"
                                            ng-options="theme for theme in vm.settingsService.availible_options.saved_layout_themes"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <label>Enable headers
                        <input type="checkbox" ng-model="vm.settingsService.showHeaders">
                    </label>
                    <button ng-click="vm.settingsService.update()">
                        Save options
                    </button>
                </div>
            </form>
        </sp-widget>
    </div>
</section>
