<section id="dashboard-view" class="mainbar">
    <div class="view-header">
        <div dropdown class="btn-group pull-right m-t-n-xs" id="new-widget-dropdown">
            <button type="button" class="btn btn-sm btn-default btn-addon" dropdown-toggle id="new-widget-btn">
                <i class="fa fa-plus"></i> New
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="new-widget-btn">
                <li ng-repeat="widgetKind in ::vm.dashboardService.widgetKinds" id="{{::(widgetKind.title | slugify) + '-dropdown-item'}}"
                    ng-click="vm.dashboardService.addWidget(vm.dashboard, widgetKind)">
                    <a href="">{{::widgetKind.title}}</a>
                </li>
            </ul>
        </div>
        <h1>{{::vm.title}}</h1>
    </div>

    <div class="container">
        <div gridster="vm.gridsterOptions">
            <ul>
                <li gridster-item="widget" ng-repeat="widget in vm.dashboard.widgets">
                    <sp-widget widget="widget" dashboard="vm.dashboard" show-close-btn="true">
                        <ng-include src="widget.template" include-replace></ng-include>
                    </sp-widget>
                </li>
            </ul>
        </div>
    </div>

    <!--Context menu for nodes in a SOP-maker widget-->
    <div id="op-context-menu">
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a id="remove-node" role="menuitem" tabindex="-1" href="#">Remove node</a></li>
            <li role="presentation"><a id="remove-sequence" role="menuitem" tabindex="-1" href="#">Remove sequence</a></li>
        </ul>
    </div>

</section>
