<section id="dashboard-view" class="mainbar">
    <div class="view-header">
        <div class="dropdown pull-right m-t-n-xs ">
            <button type="button" class="btn btn-default btn-addon dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" id="newDropDown" aria-expanded="false">
                <i class="fa fa-plus"></i> New
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="newDropDown">
                <li ng-repeat="widgetKind in ::vm.widgetKinds" ng-click="vm.addWidget(widgetKind)">
                    <a href="">{{::widgetKind.title}}</a>
                </li>
            </ul>
        </div>
        <h1>{{::vm.title}}</h1>
    </div>

    <div class="container">
        <div gridster="vm.gridsterOptions">
            <ul>
                <li gridster-item="widget" ng-repeat="widget in vm.storage.widgets">
                    <sp-widget widget-title="widget.title" close-handler="vm.closeWidget(widget)">
                        <ng-include src="widget.template"></ng-include>
                    </sp-widget>
                </li>
            </ul>
        </div>
    </div>

</section>
