<section id="dashboard-view" class="mainbar">
    <div [ngGrid]="ng2DashboardService.ngGridOptions" >
        <div *ngFor="let widget of widgets">
            <sp-widget [widget]="widget" [dashboard]="dashboard" [showCloseBtn]="true" [ngGridItem]="widget.gridOptions">
                <dcl-view [type]="widgetKinds[widget.index].component" ></dcl-view>
            </sp-widget>
        </div>
    </div>


    <!--Context menu for nodes in a SOP-maker widget-->
    <div id="op-context-menu">
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a id="remove-node" role="menuitem" tabindex="-1" href="#">Remove node</a></li>
            <li role="presentation"><a id="remove-sequence" role="menuitem" tabindex="-1" href="#">Remove sequence</a></li>
        </ul>
    </div>

</section>

