<section id="dashboard-view" class="mainbar">

    <div [ngGrid]="ngGridOptions">
        <div *ngFor="let num of [1,2,3,4,5]" [ngGridItem]="{ 'sizex': 4 }">
            <div class="title">{{ num }}</div>
            <h1>a widget</h1>
        </div>
    </div>

<!--

    <div class="container">
        <div gridster="vm.gridsterOptions">
            <ul>
                <li gridster-item="widget" *ngFor="widget in vm.dashboard.widgets">
                    <sp-widget widget="widget" dashboard="vm.dashboard" show-close-btn="true">
                        <ng-include src="widget.template" include-replace></ng-include>
                    </sp-widget>
                </li>
            </ul>
        </div>
    </div>
-->

    <!--Context menu for nodes in a SOP-maker widget-->
    <div id="op-context-menu">
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a id="remove-node" role="menuitem" tabindex="-1" href="#">Remove node</a></li>
            <li role="presentation"><a id="remove-sequence" role="menuitem" tabindex="-1" href="#">Remove sequence</a></li>
        </ul>
    </div>

</section>
