<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/pnotify/pnotify.core.css" />
    <link rel="stylesheet" href="bower_components/pnotify/pnotify.buttons.css" />
    <link rel="stylesheet" href="bower_components/pnotify/pnotify.history.css" />
    <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap-superhero.css">
    <link rel="stylesheet" href="styles/app.css">
    
    <!-- endbuild -->
  </head>
  <body ng-app="spGuiApp" ng-controller="SiteCtrl">

    <!-- header HTML incl. navigation -->
    <div ng-include src="headerUrl" onload="setupSwitch()"></div>
    <!-- ng-view container -->

    <div class="container-full">
      <tabset>
        <tab ng-repeat="tab in tabs" active="tab.active">
          <tab-heading>
            <span class="glyphicon glyphicon-remove" ng-click="closeTab(tab)"></span> {{tab.title}}
          </tab-heading>
          <windows window-array="tab.windowArray" active="tab.active"></windows>
        </tab>
        <tab active="tab.active" ng-click="addTab()">
          <tab-heading>
            <span class="glyphicon glyphicon-plus"></span>
          </tab-heading>
        </tab>
      </tabset>
    </div>

    <div login-dialog></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/pnotify/pnotify.core.js"></script>
    <script src="bower_components/pnotify/pnotify.buttons.js"></script>
    <script src="bower_components/pnotify/pnotify.callbacks.js"></script>
    <script src="bower_components/pnotify/pnotify.confirm.js"></script>
    <script src="bower_components/pnotify/pnotify.desktop.js"></script>
    <script src="bower_components/pnotify/pnotify.history.js"></script>
    <script src="bower_components/pnotify/pnotify.nonblock.js"></script>
    <script src="bower_components/angular-pnotify/src/angular-pnotify.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-grid/build/ng-grid.js"></script>
    <script src="bower_components/ng-textcomplete/ng-textcomplete.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/sopcalcer.js"></script>
        <script src="scripts/services/sopdrawer.js"></script>
        <script src="scripts/services/sptalker.js"></script>
        <script src="scripts/controllers/site.js"></script>
        <script src="scripts/directives/sopmaker.js"></script>
        <script src="scripts/directives/itemlist.js"></script>

        <script src="scripts/directives/windows.js"></script>
        <script src="scripts/services/windowservice.js"></script>
        <script src="scripts/controllers/modellist.js"></script>
        <script src="scripts/controllers/createmodel.js"></script>
        <script src="scripts/directives/autofocus.js"></script>
        <script src="scripts/directives/unique.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/auth_events.js"></script>
        <script src="scripts/services/user_roles.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/authinterceptor.js"></script>
        <script src="scripts/directives/logindialog.js"></script>
        <script src="scripts/directives/attrgrid.js"></script>
        <script src="scripts/directives/svgrid.js"></script>
        <script src="scripts/services/recursionhelper.js"></script>
        <script src="scripts/directives/conditions.js"></script>
        <script src="scripts/directives/propparse.js"></script>
        <script src="scripts/directives/opdrag.js"></script>
        <script src="scripts/directives/sop.js"></script>
        <!-- endbuild -->

</body>
</html>
