<section class="mainbar">
    <div class="view-header">
        <div class="btn-group pull-right">
            <button type="button" tooltip="Create a new, empty model" class="btn btn-sm btn-default btn-addon"
                    ng-click="vm.createModel()" id="open-create-model-dialog">
                <i class="fa fa-plus"></i>Create Model
            </button>
        </div>
        <h1>{{::vm.title}}</h1>
    </div>

    <div class="container">

        <sp-widget widget-title="vm.title" show-close-btn="false">
            <table sp-table row-collection="vm.models" displayed-collection="vm.displayedModels"
                      header-template="app/models/model-table-header.html">
                <tbody>
                    <tr ng-repeat="m in vm.displayedModels" ng-class="{'latest': m.id === vm.modelService.idOfLatestModel}">
                        <td class="col-md-4">
                            <a href="#" editable-text="m.name" onbeforesave="vm.updateName(m, $data)"
                                                buttons="no" blur="submit">{{ m.name || "none" }}</a>
                        </td>
                        <td class="col-md-4">{{m.attributes.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="col-md-4">
                            <button class="open-model btn btn-xs btn-primary" ng-click="vm.setActiveModel(m)">
                                <i class="fa fa-folder-open-o"></i> Open
                            </button>

                            <button
                                class="btn btn-xs btn-danger"
                                mwl-confirm
                                title="Delete"
                                message="This action will delete the whole model. Are you sure?"
                                confirm-text="Yes"
                                cancel-text="No"
                                placement="right"
                                on-confirm="vm.modelService.deleteModel(m.id)"
                                confirm-button-type="danger"
                                cancel-button-type="default">
                                <i class="fa fa-trash-o"></i> Delete
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </sp-widget>

    </div>
</section>
