<ul class="nav navbar-nav">
    <li><a ui-sref="model-settings" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-cog"></i> {{ vm.modelService.activeModel.name || "No model" }}</a></li>
    <li><a ui-sref="dashboard" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-tachometer"></i> Dashboard</a></li>
    <li ng-show="vm.$state.is('models')" ng-click="vm.createModel()" id="open-create-model-dialog">
        <a data-toggle="collapse" data-target=".navbar-collapse.in">
            <i class="fa fa-plus"></i>
            <span>Create Model</span>
        </a>
    </li>
    <li uib-dropdown id="new-widget-dropdown" ng-show="vm.$state.is('dashboard')">
        <a uib-dropdown-toggle id="new-widget-btn">
            <i class="fa fa-plus"></i>
            <span>New Widget</span> <span class="caret"></span>
        </a>
        <ul class="uib-dropdown-menu" role="menu">
            <li ng-repeat="widgetKind in ::vm.dashboardService.widgetKinds" id="{{::(widgetKind.title | slugify) + '-uib-dropdown-item'}}"
                ng-click="vm.dashboardService.addWidget(vm.dashboardService.storage.dashboards[0], widgetKind)">
                <a href="">{{::widgetKind.title}}</a>
            </li>
        </ul>
    </li>
</ul>
