<div class="header">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
     <div class="btn-group" dropdown>
      <button type="button" class="btn btn-default dropdown-toggle" title="Create">
        <span class="glyphicon glyphicon-asterisk"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="itemKind in itemKinds"><a ng-click="itemListSvc.createItem(itemKind, rootItem, thisScope)" x-name="option">{{itemKind}}</a></li>
        <li ng-if="rootItem === false"><a ng-click="itemListSvc.createItem('SPSpec', false, thisScope)" x-name="option">SPSpec</a></li>
      </ul>
    </div>
    <div ng-if="!windowStorage.itemTree" class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" title="Columns">
        <span class="glyphicon glyphicon-list-alt"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-form" role="menu">
        <li ng-repeat="column in showableColumns" role="menuitem">
          <label><input
            type="checkbox"
            name="selectedColumns[]"
            value="{{column}}"
            ng-checked="selection.indexOf(column) > -1"
            ng-click="toggleSelection(column, selection, $event)"
          /> {{column}}</label>
        </li>
        <li ng-repeat="(attrType, value) in spTalker.activeModel.attributes.attributeTags">
          <label><input
            type="checkbox"
            name="selectedAttrColumns[]"
            value="{{attrType}}"
            ng-checked="attrSelection.indexOf(attrType) > -1"
            ng-click="toggleSelection(attrType, attrSelection, $event)"
            /> {{attrType}}</label>
        </li>
      </ul>
    </div>
    <!--<button type="button" class="btn btn-default" ng-click="refresh()" title="Refresh"><span class="glyphicon glyphicon-refresh"></span></button>-->
    <button type="button" class="btn btn-default" ng-click="showFilterInputs = !showFilterInputs" title="Filter"><span class="glyphicon glyphicon-filter"></span></button>
    <button type="button" class="btn btn-default" ng-click="collapseAll()"><span class="glyphicon glyphicon-align-justify" title="Collapse all"></span></button>
    <button type="button" class="btn btn-default" ng-click="copyItems()" ng-show="oneOrMoreItems"><span class="glyphicon glyphicon-file" title="Copy selected"></span></button>
    <button type="button" class="btn btn-default" ng-click="deleteItems()" ng-show="oneOrMoreItems"><span class="glyphicon glyphicon-trash" title="Delete selected"></span></button>
    <button type="button" class="btn btn-default" ng-click="viewRelation()" ng-show="twoOrMoreOps"><span class="glyphicon glyphicon-link" title="View relations"></span></button>
    <button type="button" class="btn btn-default" ng-click="tabSvc.newWindow('itemInfo', {itemID: windowStorage.selectedItemID})" ng-if="windowStorage.selectedItemID"><span class="glyphicon glyphicon-info-sign" title="Open item details in new window"></span></button>
    <button type="button" class="btn btn-default" ng-click="tabSvc.newWindow('sopMaker', {sopSpecId: checkedItems[0]})" ng-show="oneSOPSpec" ><span class="glyphicon glyphicon-th-large" title="View SOP in sopMaker"></span></button>
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-default dropdown-toggle" title="Root">
        <span class="glyphicon glyphicon-map-marker"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="alterRootItem(false)" x-name="option">{{spTalker.activeModel.name}}</a></li>
        <li ng-repeat="(id, spSpec) in spTalker.spSpecs"><a ng-click="alterRootItem(spSpec)" x-name="option">{{spSpec.name}}</a></li>
      </ul>
    </div>
   </div> <!-- end of btn-group -->
  </div> <!-- end of toolbar -->

  <div class="item-table-header-wrapper" ng-click="itemSvc.selectItemId('', thisScope)">
    <table class="table item-table">
      <thead>
        <tr>
          <th class="expand-column"></th>
          <th class="checkbox-column">
            <input type="checkbox" ng-model="checkUncheckAllModel" ng-change="checkUncheckAll()" />
            <br /><input ng-if="showFilterInputs" type="checkbox" ng-model="search['checked']" />
          </th>
          <th class="type-icon-column">
            <a ng-click="sort('isa')">
              <span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate === 'isa' && !reverse, 'glyphicon-sort-by-alphabet-alt': predicate === 'isa' && reverse}"></span>
              isa
            </a><br />
            <input ng-if="showFilterInputs" type="text" ng-model="search['isa']" />
          </th>
          <th ng-repeat="column in selection" >
            <a ng-click="sort(column)">
              <span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate === column && !reverse, 'glyphicon-sort-by-alphabet-alt': predicate === column && reverse}"></span>
              {{column}}
            </a><br />
            <input ng-if="showFilterInputs && column !== 'stateVariables'" type="text" ng-model="search[column]" />
          </th>
          <th ng-repeat="attrColumn in attrSelection">
            <a ng-click="sort('attributes.'+attrColumn)">
              <span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate === ('attributes.'+attrColumn) && !reverse, 'glyphicon-sort-by-alphabet-alt': predicate === ('attributes.'+attrColumn) && reverse}"></span>
              {{attrColumn}}
            </a><br />
            <input ng-if="showFilterInputs" type="text" ng-model="search['attributes'][attrColumn]" />
          </th>
          <th ng-if="!windowStorage.itemTree">actions</th>
        </tr>
      </thead>
    </table>
  </div> <!-- end of fixed table header -->
</div> <!-- end of header -->


<div class="content">
  <div class="content-wrapper">
    <item-table parent-item="spTalker.activeSPSpec" served-items="filteredAndOrderedItems" alter-checked-array="alterCheckedArray" selection="selection" attr-selection="attrSelection" item-list-scope="thisScope"></item-table>
  </div> <!-- end of content-wrapper -->
</div> <!-- end of content -->
