<div class="header">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <button class="btn btn-default" ng-click="resetStates()" title="Reset to initial state"><span class="glyphicon glyphicon-fast-backward"></span></button>
    </div> <!-- end of btn-group -->
  </div> <!-- end of toolbar -->
</div> <!-- end of header -->

<div class="content">
  <div class="content-wrapper">
    <div class="col-md-12"><h3>Runtime {{runtimeName}}</h3></div>
    <div class="col-md-6">
      <h4>Things</h4>
      <table class="table">
        <thead><th>Name</th><th>State</th></thead>
        <tbody>
          <tr ng-repeat="(id, thing) in (things = (spTalker.items | with: { isa: 'Thing' }))">
            <td>{{thing.name}}</td><td>{{currentStates[thing.id]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h4>Operations</h4>
      <table class="table table-bordered">
        <thead><th>Name</th><th>State</th></thead>
        <tbody>
          <tr ng-repeat="(id, op) in (ops = (spTalker.items | with: { isa: 'Operation' }))" ng-click="enabled.indexOf(op.id) === -1 || executeOp(op.id)" ng-disabled="enabled.indexOf(op.id) === -1" ng-class="{'op-enabled': (currentStates[op.id] === 'i' && enabled.indexOf(op.id) > -1), 'op-disabled': (currentStates[op.id] === 'i' && enabled.indexOf(op.id) === -1), 'op-finished': (currentStates[op.id] === 'f')}">
            <td>{{op.name}}</td><td>{{currentStates[op.id]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- end of content-wrapper -->
</div> <!-- end of content -->
