<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="js/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="js/pnotify/pnotify.core.css" />
    <link rel="stylesheet" href="js/pnotify/pnotify.buttons.css" />
    <link rel="stylesheet" href="js/pnotify/pnotify.history.css" />
    <link rel="stylesheet" href="js/ng-grid/ng-grid.css" />
    <link rel="stylesheet" href="js/angular-gantt/assets/gantt.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap-superhero.css">
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="js/raphael-pan-zoom/raphael.pan-zoom.css">

    <!-- endbuild -->
  </head>
  <body ng-app="spGuiApp" ng-controller="SiteCtrl">

    <!-- header HTML incl. navigation -->
    <div ng-include src="headerUrl"></div>
    <!-- ng-view container -->

    <div class="container-full">
      <tabset>
        <tab ng-repeat="tab in tabSvc.tabs" active="tab.active">
          <tab-heading>
            <span style="font-size: 0.9em;" class="glyphicon glyphicon-remove" ng-click="tabSvc.closeTab(tab)" title="Close tab"></span> {{tab.title}}
          </tab-heading>
          <windows window-array="tab.windowArray" active="tab.active"></windows>
        </tab>
        <tab active="tab.active" ng-click="tabSvc.addTab()">
          <tab-heading>
            <span style="font-size: 0.9em;" class="glyphicon glyphicon-plus" title="New tab"></span>
          </tab-heading>
        </tab>
      </tabset>
    </div>

    <div login-dialog></div>

    <div id="op-context-menu">
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a id="remove-op" role="menuitem" tabindex="-1" href="#">Remove node</a></li>
        <li role="presentation"><a id="remove-sequence" role="menuitem" tabindex="-1" href="#">Remove sequence</a></li>
      </ul>
    </div>

    <div id="create-context-menu">
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a id="Operation" role="menuitem" tabindex="-1" href="#">Operation</a></li>
        <li role="presentation"><a id="Thing" role="menuitem" tabindex="-1" href="#">Thing</a></li>
        <li role="presentation"><a id="SOPSpec" role="menuitem" tabindex="-1" href="#">SOPSpec</a></li>
        <li role="presentation"><a id="SPObject" role="menuitem" tabindex="-1" href="#">SPObject</a></li>
      </ul>
    </div>



    <!--[if lt IE 9]>
    <script src="js/es5-shim/es5-shim.js"></script>
    <script src="js/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="js/jquery/dist/jquery.js"></script>
    <script src="js/ng-file-upload-shim/angular-file-upload-shim.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular-websocket/angular-websocket.js"></script>
    <script src="js/json3/lib/json3.js"></script>
    <script src="js/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/angular-resource/angular-resource.js"></script>
    <script src="js/angular-cookies/angular-cookies.js"></script>
    <script src="js/angular-sanitize/angular-sanitize.js"></script>
    <script src="js/angular-animate/angular-animate.js"></script>
    <script src="js/angular-touch/angular-touch.js"></script>
    <script src="js/angular-route/angular-route.js"></script>
    <script src="js/raphael/raphael.js"></script>
    <script src="js/jquery-ui/jquery-ui.js"></script>
    <script src="js/angular-ui-sortable/sortable.js"></script>
    <script src="js/pnotify/pnotify.core.js"></script>
    <script src="js/pnotify/pnotify.buttons.js"></script>
    <script src="js/pnotify/pnotify.callbacks.js"></script>
    <script src="js/pnotify/pnotify.confirm.js"></script>
    <script src="js/pnotify/pnotify.desktop.js"></script>
    <script src="js/pnotify/pnotify.history.js"></script>
    <script src="js/pnotify/pnotify.nonblock.js"></script>
    <script src="js/angular-pnotify/src/angular-pnotify.js"></script>
    <script src="js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/ng-grid/build/ng-grid.js"></script>
    <script src="js/ng-textcomplete/ng-textcomplete.js"></script>
    <script src="js/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
    <script src="js/underscore/underscore.js"></script>
    <script src="js/ng-file-upload/angular-file-upload.js"></script>
    <script src="js/angular-gantt/assets/angular-gantt.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/sopcalcer.js"></script>
        <script src="scripts/services/sopdrawer.js"></script>
        <script src="scripts/services/sptalker.js"></script>
        <script src="scripts/services/itemlistsvc.js"></script>
        <script src="scripts/controllers/site.js"></script>
        <script src="scripts/directives/sopmaker.js"></script>
        <script src="scripts/directives/itemlist.js"></script>
        <script src="scripts/directives/windows.js"></script>
        <script src="scripts/controllers/modellist.js"></script>
        <script src="scripts/controllers/createmodel.js"></script>
        <script src="scripts/controllers/createsopspec.js"></script>
        <script src="scripts/directives/autofocus.js"></script>
        <script src="scripts/directives/unique.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/auth_events.js"></script>
        <script src="scripts/services/user_roles.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/authinterceptor.js"></script>
        <script src="scripts/directives/logindialog.js"></script>
        <script src="scripts/directives/attrgrid.js"></script>
        <script src="scripts/services/recursionhelper.js"></script>
        <script src="scripts/directives/conditions.js"></script>
        <script src="scripts/directives/propparse.js"></script>
        <script src="scripts/directives/itemdrag.js"></script>
        <script src="scripts/directives/soppaper.js"></script>
        <script src="scripts/controllers/settings.js"></script>
        <script src="scripts/directives/nowhitespace.js"></script>
        <script src="scripts/directives/attrtaggrid.js"></script>
        <script src="scripts/controllers/createattrtag.js"></script>
        <script src="scripts/directives/itemtable.js"></script>
        <script src="scripts/directives/conditionsuggestions.js"></script>
        <script src="scripts/directives/relationident.js"></script>
        <script src="scripts/services/itemsvc.js"></script>
        <script src="scripts/directives/deleteablekey.js"></script>
        <script src="scripts/directives/createdropdown.js"></script>
        <script src="scripts/directives/scrollif.js"></script>
        <script src="scripts/controllers/loadfile.js"></script>
        <script src="scripts/directives/ganttschedule.js"></script>
        <script src="scripts/directives/conditiongrid.js"></script>
        <script src="scripts/directives/itemexplorer.js"></script>
        <script src="scripts/directives/iteminfo.js"></script>
        <script src="scripts/controllers/modelhistory.js"></script>
        <script src="scripts/services/tabsvc.js"></script>
        <script src="scripts/directives/simulationruntime.js"></script>
        <script src="scripts/services/sse.js"></script>
        <script src="scripts/directives/plcruntime.js"></script>
        <script src="scripts/directives/runtimelist.js"></script>
        <!-- endbuild -->
</body>
</html>
