<script>
    //var button41 = {Value: 0};var button42 = {Value: 0};var button43 = {Value: 0};var button44 = {Value: 0};
    //var button31 = {Value: 0};var button32 = {Value: 0};var button33 = {Value: 0};var button34 = {Value: 0};
   // var button21 = {Value: 0};var button22 = {Value: 0};var button23 = {Value: 0};var button24 = {Value: 0};
   // var button11 = {Value: 0};var button12 = {Value: 0};var button13 = {Value: 0};var button14 = {Value: 0};

    function getValue(obj) {
        return obj.Value;
    }
    /*
    function setColor(btn,obj) {
        var property = document.getElementById(btn);
        if (obj.Value == 0) {
            property.style.backgroundColor = "#FFFFFF"
            obj.Value++;
        }
        else if(obj.Value == 1){
            property.style.backgroundColor = "#7F3300"
            obj.Value++;
        }
        else {
            property.style.backgroundColor = "#7FFF00"
            obj.Value = 0;
        }
    }
    */
    /*
    function setColor(btn,obj,reset) {
        var property = document.getElementById(btn);
        if (obj.Value == 0) {//YELLOW = 1
            property.style.backgroundColor = "#ffff1a"
            obj.Value++;
        }
        else if(obj.Value == 1){//GREEN = 2
            property.style.backgroundColor = "#00cc00"
            obj.Value++;
        }
        else if(obj.Value == 2){//RED = 3
            property.style.backgroundColor = "#e60000"
            obj.Value++;
        }
        else if(obj.Value == 3){//BLUE = 4
            property.style.backgroundColor = "#0080ff"//#0000cc"
            obj.Value++;
        }
        else { //WHITE = 0 NO COLOUR
            property.style.backgroundColor = "#FFFFFF"
            obj.Value = 0;
        }
        if(reset){
            property.style.backgroundColor = "#FFFFFF"
            obj.Value = 0;
        }
    } */

    function setColor(btn,obj,reset) {
        var property = document.getElementById(btn);
        if (obj.Value == 0) //YELLOW = 1
            property.style.backgroundColor = "#ffff1a";
        else if(obj.Value == 1)//GREEN = 2
            property.style.backgroundColor = "#00cc00";
        else if(obj.Value == 2)//RED = 3
            property.style.backgroundColor = "#e60000";
        else if(obj.Value == 3)//BLUE = 4
            property.style.backgroundColor = "#0080ff";
        else
            property.style.backgroundColor = "#FFFFFF";

        //switch(obj.Value)

        obj.Value = ++obj.Value % 5;

        if(reset){
            property.style.backgroundColor = "#FFFFFF"
            obj.Value = 0;
        }
    }

</script>

<div ng-controller="TobbeController as vm" class="simple-widget">
    <div class="panel-content">


        <div class="row">   <!-- 4 row -->
            <div class="col-md-12 col-md-offset-0 text-center">
                <button type="button" class="btn btn-4x btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(41)" id="button41" value = button41;>
                    <!--<i class="fa fa-4x fa-square" style= "color: rgb(0,128,0)"></i>-->
                    <h1>{{vm.button41.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(42)" id="button42" value = "button42";>
                    <h1>{{vm.button42.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(43)" id="button43" value = "button43"; onclick="setColor('button43', button43)">
                    <h1>{{vm.button43.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(44)" id="button44" value = "button44"; onclick="setColor('button44', button44)">
                    <h1>{{vm.button44.Value}}</h1>
                </button>

                <br>
                <!-- 3 row -->
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(31)" id="button31" value = "button31"; onclick="setColor('button31', button31)">
                    <h1>{{vm.button31.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(32)" id="button32" value = "button32"; onclick="setColor('button32', button32)">
                    <h1>{{vm.button32.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(33)" id="button33" value = "button33"; onclick="setColor('button33', button33)">
                    <h1>{{vm.button33.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(34)" id="button34" value = "button34"; onclick="setColor('button34', button34)">
                    <h1>{{vm.button34.Value}}</h1>
                </button>

                <br>
                <!-- 2 row -->
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(21)" id="button21" value = "button21"; onclick="setColor('button21', button21)">
                    <h1>{{vm.button21.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(22)" id="button22" value = "button22"; onclick="setColor('button22', button22)">
                    <h1>{{vm.button22.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(23)" id="button23" value = "button23"; onclick="setColor('button23', button23)">
                    <h1>{{vm.button23.Value}}</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.saveNumber(24)" id="button24" value = "button24"; onclick="setColor('button24', button24)">
                    <h1>{{vm.button24.Value}}</h1>
                </button>

                <br>
                <!-- 1 row -->
                    <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                            ng-click="vm.saveNumber(11)" id="button11" value = "button11"; onclick="setColor('button11', button11)">
                        <h1>{{vm.button11.Value}}</h1>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                            ng-click="vm.saveNumber(12)" id="button12" value = "button12"; onclick="setColor('button12', button12)">
                        <h1>{{vm.button12.Value}}</h1>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                            ng-click="vm.saveNumber(13)" id="button13" value = "button13"; onclick="setColor('button13', button13)">
                        <h1>{{vm.button13.Value}}</h1>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" style="width:60px;height:60px;background-color:rgb(255,255,255)"
                            ng-click="vm.saveNumber(14)" id="button14" value = "button14"; onclick="setColor('button14', button14)">
                        <h1>{{vm.button14.Value}}</h1>
                    </button>
                <!---->
                <br>
                <button type="button" class="btn btn-sm btn-primary" style="width:120px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.reset()" id="button" value = "buttonBuild";>
                    <h1 class="text-center">Build</h1>
                </button>
                <button type="button" class="btn btn-sm btn-primary" style="width:120px;height:60px;background-color:rgb(255,255,255)"
                        ng-click="vm.reset()" id="buttonReset" value = "buttonReset";>
                    <h1 class="text-center">Reset</h1>
                </button>
            </div>
        </div>
    </div>
</div>


