# sbt and other things also
target/
bin/
project/boot/
project/target
project/project
.worksheet/
.settings/
*.project
*.classpath
*.cache
.project
.classpath
.cache
*.DS_Store
*~
*.log
*.class
.history/
.lib/
dist/*

# project
js/*
node_modules/*
build/*
sp-core/build/
sp-core/node_modules/


# output from tests
testFiles/gitIgnore/

######################

# emacs
.ensime*
.ensime_cache/

