<section class="mainbar">
    <div class="view-header">
        <h1>{{vm.modelService.activeModel.name}} settings</h1>
    </div>
    <div class="container">
      <sp-widget widget-title="Model settings" show-close-btn="false">
        Add some settings here...
      </sp-widget>
      <sp-widget widget-title="Model history" show-close-btn="false">
	<table sp-table row-collection="vm.diffs" displayed-collection="vm.displayedDiffs">
	<thead><tr><th>Version</th><th>Revert</th><th>Comment</th></tr></thead>
	<tbody>
          <tr ng-repeat-start="diff in vm.displayedDiffs | orderBy: '-version'" ng-class-odd="'odd-row'" ng-class-even="'even-row'">
            <td>{{diff.version}}</td>
            <td class="item-table-buttons">
	      <button class="btn btn-xs btn-default" ng-click="rowSettings[diff.version].expandInfo = !rowSettings[diff.version].expandInfo;" title="Show/hide info"><span class="glyphicon glyphicon-info-sign"></span></button>
	      <button class="btn btn-xs btn-default" ng-click="vm.revert(diff.version)" ng-if="!$first" title="Revert"><span class="glyphicon glyphicon-backward"></span></button>
	      <i ng-if="$first">Active</i>
            </td>
	    <td>{{diff.diffInfo.info}}</td>
          </tr>
          <tr ng-repeat-end ng-class-odd="'odd-row'" ng-class-even="'even-row'">
            <td colspan="99" class="hiddenRow">
	      <div collapse="!rowSettings[diff.version].expandInfo">
		<table class="table">
                  <tr><td>Updated items:</td><td>{{diff.updatedItems}}</td></tr>
                  <tr><td>Deleted items:</td><td>{{diff.deletedItems}}</td></tr>
                  <tr><td>Time:</td><td>{{diff.modelAttr.time}}</td></tr>
		</table>
	      </div>
            </td>
          </tr>
	</tbody>
      </table>
      </sp-widget>
    </div>
</section>
