/* app css stylesheet */

/*** all over the app ***/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown-menu {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.table {
    margin-bottom: 0;
}

input {
    color: #ebebeb;
}

/*** nav bar ***/

.navbar {
    margin-bottom: 5px;
}

/*** tab navigation ***/

.nav-tabs {
    border-bottom-color: #4e5d6c;
}

/*** for the Windows directive ***/

/* show the move cursor as the user moves the mouse over the panel header.*/
.draggable {
    cursor: move;
}

.sizeTransition {
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
}

.smallPanelHeight { height: 410px; }
.largePanelHeight { height: 825px; }

.smallBodyHeight { height: 350px; }
.largeBodyHeight { height: 760px; }

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable>li { margin: 0; padding: 0; float: left; }

.panel {
    margin: 5px;
}

#sortable .panel-heading .glyphicon {
    padding:3px;
    margin-left:3px;
}

#sortable .panel {
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
}

#sortable .panel .panel-body {
    background-color: #4e5d6c;
}

/*** To position toolbar and content in the Windows ***/

.wrapper {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.header, .footer {
    display: table-row;

}
.content {
    display: table-row;  /* height is dynamic, and will expand... */                     /* ...as content is added (won't scroll) */
    height: 100%;
    width: 100%;
}

.content-wrapper {
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.sop {
    float: left;
}

/*** ganttSchedule ***/

.gantt-background-row-alt {
    background-color: #485563;
}

.gantt-task-info {
    color: #000000;
}

.gantt-task-content {
    color: #000000;
}


/*** relationIdent ***/

.relation-item-table {
    height: 150px;
    overflow: auto;
}

/*** itemTable ***/

.item-info-table td {
    vertical-align: top;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-color: #a5a5a5;
}

.guard-grid {
  border: 1px #a5a5a5 solid;
}

.guard-grid td {
  padding: 2px;
  vertical-align: middle;
}

.odd-row {
    background-color: #485563;
}

.table .table {
    background-color: transparent;
}

.hiddenRow {
    padding: 0 !important;
    overflow: visible !important;
}

.collapsed-row {margin: 0 0 5px 0;}

table a, .table a {
    text-decoration: none;
}

.element-list td {
    padding: 2px;
}

.prop-parse {
    margin-left: 10px;
}

.guard-input {
    width: 100% !important;
}

.action-input {
    width: 100% !important;
}

.textcomplete-wrapper {
    width: 80%;
}

/* static table header in the itemList */
.item-table { table-layout: fixed; margin-bottom: 0; }
.item-table>thead>tr>th,.item-table>tbody>tr>td { overflow: hidden; width: 100%; }
.item-table>thead>tr>.expand-column,.item-table>tbody>tr>.expand-column { width: 25px; }
.item-table>thead>tr>.checkbox-column,.item-table>tbody>tr>.checkbox-column { width: 25px; }
.item-table>thead>tr>.type-icon-column,.item-table>tbody>tr>.type-icon-column { width: 45px; text-align: right; }
.item-table-header-wrapper { margin-right: 18px; }

/* columns dropDown */
ul.dropdown-menu-form {
    padding: 5px 10px 0;
}

/*** sopMaker ***/
.sop-maker-toolbar {
  margin-bottom: 10px;
}

/*** Settings dialog ***/
.sub-attr-tag-grid {
    display: block;
    margin-left: 20px;
}

.empty-attr-tag-obj {
    margin-left: 20px;
}

/*** Other ***/
