<div class="panel panel-default">

	<div ng-show="vm.themeService.showHeaders" class="panel-heading">
	    <span class="panel-title">{{vm.title || "No title"}}</span>
	    <span class="fa fa-times pull-right widget-close-btn" ng-if="vm.showCloseBtn"
	          ng-click="vm.requestClose()">
	    </span>
	</div>

	<div ng-show="!vm.themeService.showWidgetOptions" class="panel-body" ng-transclude>
        
        
        </div>

	<div ng-show="vm.themeService.showWidgetOptions" class="panel-settings">

        <button type="button" class="btn btn-sm btn-default btn-notext" uib-tooltip="Widget settings"
                ng-click=""><i class="fa fa-edit"></i>
        </button>

        <button type="button" class="btn btn-sm btn-default btn-notext" uib-tooltip="Duplicate widget"
                ng-click=""><i class="fa fa-copy"></i>
        </button>

		<button type="button" class="btn btn-sm btn-default btn-notext" uib-tooltip="Isolate widget"
                ng-click=""><i class="fa fa-eye"></i>
        </button>

        <button type="button" class="btn btn-sm btn-default btn-notext" uib-tooltip="Remove widget"
                ng-click=""><i class="fa fa-trash-o"></i>
        </button>

        <button type="button" class="btn btn-sm btn-default btn-notext" uib-tooltip="More"
                ng-click=""><i class="fa fa-bars"></i>
        </button>
	</div>
</div>
