<div class="item-editor" style="height:100%;">
    <div class="panel-toolbar">

        <div class="btn-group">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-sm btn-default uib-dropdown-toggle" id="mode-dropdown"
                                                                                         ngclasswashere dropdownToggle> <!--uib-tooltip="Mode">-->
                                                                                         {{ options.mode }}<!--{{mode | ucfirst}}--> <span class="caret"></span>
                </button>
                <ul dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="mode-dropdown">
                    <li *ngFor="let mode of modes">
                        <a (click)="setMode(mode)">
                            {{ mode }}
                            <!--{{::mode | ucfirst}}-->
                            <i class="fa fa-check pull-right" *ngIf="options.mode === mode"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Save Edited Items"
                    ngclasswashere (click)="save()"><i class="fa fa-floppy-o"></i>
            </button>
        </div>

        <!--
        <div class="btn-group"
             *ngIf="options.mode === 'tree' || options.mode === 'form' || options.mode === 'view'">
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Expand All"
                    (click)="editor.expandAll()"><i class="fa fa-expand"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Collapse All"
                    (click)="editor.collapseAll()"><i class="fa fa-compress"></i>
            </button>
        </div>

        <div class="btn-group"
             *ngIf="options.mode === 'code' || options.mode === 'text'">
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Format"
                    (click)="editor.format()"><i class="fa fa-align-left"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Compact"
                    (click)="editor.compact()"><i class="fa fa-align-justify"></i>
            </button>
        </div>

        <div class="btn-group" *ngIf="options.mode === 'tree' || options.mode === 'form'">
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Undo" (click)="editor._onUndo()"
                    ngclasswashere><i class="fa fa-undo"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Redo" (click)="editor._onRedo()"
                    ngclasswashere><i class="fa fa-repeat"></i>
            </button>
        </div>

        <div class="btn-group" *ngIf="inSync">
            <input type="checkbox" ng-model="inSync" ng-change="unSync()">
            in sync
        </div>
        <div class="btn-group" *ngIf="!inSync">
            <button type="button" class="btn btn-default" (click)="showDetail = !showDetail">details</button>
        </div>


        <div class="item-search pull-right"
             *ngIf="options.mode === 'tree' || options.mode === 'form' || options.mode === 'view'">
            <div class="input-group">
                <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                <input class="input-sm form-control" type="search" ng-model="editor.searchBox.dom.search.value"
                       ng-change="editor.searchBox._onSearch()">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-notext btn-default" uib-tooltip="Previous"
                            (click)="editor.searchBox.previous(false)"><i class="fa fa-chevron-up"></i></button>
                    <button type="button" class="btn btn-sm btn-notext btn-default" uib-tooltip="Next"
                            (click)="editor.searchBox.next(false)"><i class="fa fa-chevron-down"></i></button>
                </span>
            </div>
        </div>



        <span *ngIf="editor.searchBox.dom.search.value.length > 0" class="search-matches pull-right">
        -->
            <!--{{vm.editor.searchBox.results.length || "no"}} results-->
        <!--
        </span>

        <div uib-collapse="!showDetail">
            <div class="input-group">
                <input class="input-sm form-control" type="search" ng-model="transformService"
                       ng-change="transform()">
            </div>
        </div>
        -->

    </div>

    <!--
    <div class="panel-content" json-editor="editorLoaded" ng-model="widget.storage.data" options="options"
          ng-change="change()" ng-model-options="{debounce:400}"></div>
    -->
    <json-editor style="height:100%;" #jsoneditor></json-editor>
    <button (click)="jsoneditor.fooFunction()">dafh</button>

</div>
<h1>ahwerouhewarwauh</h1>
