<div ng-controller="RobotCycleAnalysisController as vm" class="robot-cycle-analysis">
    <div class="panel-toolbar">

        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Setup bus"
                    ng-click="vm.setupBus()"><i class="fa fa-cog"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Connect to bus"
                    ng-click="vm.service.connectToBus()" ng-disabled="vm.service.busConnected">
                <i class="fa fa-arrow-up"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Disconnect from bus"
                    ng-click="vm.service.disconnectFromBus()" ng-disabled="!vm.service.busConnected">
                <i class="fa fa-arrow-down"></i>
            </button>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm btn-default" uib-tooltip="Chosen work cell"
                    ng-click="vm.selectWorkCell()" ng-disabled="!vm.service.busConnected">
                <i class="fa fa-industry"></i>
                <span ng-show="vm.widget.storage.chosenWorkCell === null">None</span>
                <span ng-show="vm.widget.storage.chosenWorkCell !== null">
                    {{vm.widget.storage.chosenWorkCell.name}}: {{vm.widget.storage.chosenWorkCell.description}}
                </span>
            </button>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Add cycle"
                    ng-click="vm.addCycle()" ng-disabled="vm.widget.storage.chosenWorkCell === null">
                <i class="fa fa-plus"></i>
            </button>
        </div>

        <!--<div class="btn-group">
            <p ng-show="vm.service.busConnected && !vm.service.connectionInterrupted">Connected</p>
            <p ng-show="vm.service.busConnected && vm.service.connectionInterrupted">Connection interrupted</p>
            <p ng-show="!vm.service.busConnected">Disconnected</p>
            <p ng-show="vm.service.busConnected === null">Unknown</p>
        </div>-->
    </div>

    <div class="panel-content">
        <p colspan="3" ng-show="vm.widget.storage.historicalCycles.length == 0">No cycles added yet.</p>
        <div class="cycle" ng-repeat="cycle in vm.widget.storage.historicalCycles">
            <div class="robot" ng-repeat="(robot, events) in cycle.events">
                {{robot}}
                <div class="event" ng-repeat="(eventId, event) in events"
                     ng-style="{ left: 3*vm.timeFromCycleStart(cycle, event), width: 3*vm.duration(event) }">
                    {{vm.duration(event)}}
                </div>
            </div>
        </div>
    </div>
</div>
