<main class="modal-body wrapper-lg">
    <h3 class="modal-title m-b">Select work cell</h3>
    <p>Click on the work cell you want to study.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th><th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" ng-show="vm.availableWorkCells === null">The ABB robot service did not respond.</td>
                <td colspan="2"
                    ng-show="vm.availableWorkCells !== null && vm.availableWorkCells.length === 0">
                    There are no work cells available.
                </td>
            </tr>
            <tr ng-repeat="workCell in vm.availableWorkCells" ng-click="vm.select(workCell)">
                <td>{{workCell.id}}</td><td>{{workCell.description}}
            </tr>
        </tbody>
    </table>
</main>
