<main class="modal-body wrapper-lg">
    <h3 class="modal-title m-b">Setup bus</h3>
    <p>Tell me where to find the bus and what topic I should publish/subscribe to.</p>
    <form name="vm.form" novalidate>
        <div class="form-group">
            <label for="hostInput">Host</label>
            <input type="text" ng-model="vm.busSettings.host" name="host" id="hostInput" class="form-control" required="" placeholder="Enter an IP address or hostname" autofocus />
            <label for="portInput">Port</label>
            <input type="number" ng-model="vm.busSettings.port" name="port" id="portInput" class="form-control" required="" placeholder="Enter a port"/>
            <label for="topicInput">Topic</label>
            <input type="text" ng-model="vm.busSettings.topic" name="topic" id="topicInput" class="form-control" required="" placeholder="Enter a topic"/>
        </div>
        <div class="clearfix">
            <button class="btn btn-success pull-right" ng-disabled="vm.form.$invalid" ng-click="vm.save()"
                id="save-button">Save</button>
        </div>
    </form>
</main>
