<div ng-controller="ConditionEditorController as vm" class="condition-editor">
    <div class="panel-toolbar">

        <div class="btn-group">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-sm btn-default uib-dropdown-toggle" id="mode-dropdown"
                        ng-class="{'disabled': vm.numberOfErrors > 0}" uib-dropdown-toggle uib-tooltip="Mode">
                    {{vm.options.mode | ucfirst}} <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="mode-dropdown">
                    <li ng-repeat="mode in ::vm.modes">
                        <a ng-click="vm.setMode(mode)">
                            {{::mode | ucfirst}}
                            <i class="fa fa-check pull-right" ng-show="vm.options.mode === mode"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Save"
                    ng-class="{'disabled': !vm.widget.storage.okToSave}" ng-click="vm.save()"><i class="fa fa-floppy-o"></i>
            </button>
        </div>

    </div>
    <div class="panel-content">
        <div ng-repeat="op in vm.widget.storage.operations">
            <h4>{{op.item.name}}</h4>
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-sm btn-default btn-notext uib-dropdown-toggle"
                        id="create-item-dropdown" uib-dropdown-toggle uib-tooltip="New condition">
                    <i class="fa fa-plus"></i><i class="caret" style="margin-left: 5px;"></i>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="create-item-dropdown">
                    <li ng-repeat="condType in ::vm.conditionTypes">
                        <a ng-click="vm.newCondition(op,condType)">
                            {{::condType.label}}
                        </a>
                    </li>
                </ul>
            </div>

            <div ng-repeat="cond in op.conditions | orderBy:vm.sorter" ng-if="cond.deleted!=true">
                <b>{{cond.kind}}</b>
                <button class="btn btn-sm btn-notext" uib-tooltip="Delete condition" ng-click="vm.deleteCondition(cond)"><i class="fa fa-close"></i></button>
                <form role="form">
                    <div class="form-group">
                        <label>Guard</label>
                        <textarea width="100%" spellcheck="false" class="form-control" uib-tooltip={{cond.guardParseError}}
                                  ng-class="{ error: cond.guardParseError!='', valid: cond.guardParseError=='' }"
                                  ng-model="cond.guard" ng-change="vm.checkGuard(cond)"/>
                        <label>Action{{cond.actions.length>1?'s':''}}</label>
                        <button class="btn btn-sm btn-notext" uib-tooltip="New action" ng-click="vm.newAction(cond.actions)"><i class="fa fa-plus"></i></button>
                        <div ng-repeat="act in cond.actions">
                            <button class="btn btn-sm btn-notext" uib-tooltip="Delete action" ng-click="vm.deleteAction(cond.actions,act)"><i class="fa fa-close"></i></button>
                            <textarea width="100%" spellcheck="false" class="form-control" uib-tooltip={{act.actionParseError}}
                                      ng-class="{ error: act.actionParseError!='', valid: act.actionParseError=='' }"
                                      ng-model="act.action" ng-change="vm.checkAction(act)"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-repeat="sop in vm.widget.storage.sops">
            <h4>{{sop.item.name}}</h4>
            <form role="form">
                <div class="form-group">
                    <label>Forbidden expression{{sop.expressions.length>1?'s':''}}</label>
                        <button class="btn btn-sm btn-notext" uib-tooltip="New expression" ng-click="vm.newExpr(sop.expressions)"><i class="fa fa-plus"></i></button>
                        <div ng-repeat="expr in sop.expressions">
                            <button class="btn btn-sm btn-notext" uib-tooltip="Delete expression" ng-click="vm.deleteExpr(sop.expressions,expr)"><i class="fa fa-close"></i></button>
                            <textarea width="100%" spellcheck="false" class="form-control" uib-tooltip={{expr.exprParseError}}
                                      ng-class="{ error: expr.exprParseError!='', valid: expr.exprParseError=='' }"
                                      ng-model="expr.expr" ng-change="vm.checkExpr(expr)"/>
                        </div>
                    </div>
                </form>
        </div>
    </div>

</div>
