<div ng-controller="ConditionEditorController as vm" class="condition-editor">
    <div class="panel-toolbar">

        <div class="btn-group">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-sm btn-default uib-dropdown-toggle" id="mode-dropdown"
                        ng-class="{'disabled': vm.numberOfErrors > 0}" uib-dropdown-toggle uib-tooltip="Mode">
                    {{vm.options.mode | ucfirst}} <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="mode-dropdown">
                    <li ng-repeat="mode in ::vm.modes">
                        <a ng-click="vm.setMode(mode)">
                            {{::mode | ucfirst}}
                            <i class="fa fa-check pull-right" ng-show="vm.options.mode === mode"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" uib-tooltip="Save"
                    ng-class="{'disabled': !vm.widget.storage.okToSave}" ng-click="vm.save()"><i class="fa fa-floppy-o"></i>
            </button>
        </div>

    </div>
    <div class="panel-content">
        <div ng-repeat="op in vm.widget.storage.operations">
            <h4>{{op.item.name}}</h4>
            <div ng-repeat="cond in op.conditions">
                <b>{{cond.attributes.kind}}</b>
                <form role="form">
                    <div class="form-group">
                        <label>Guard</label>
                        <textarea width="100%" spellcheck="false" class="form-control" uib-tooltip={{cond.guardParseError}}
                                  ng-class="{ error: cond.guardParseError!='', valid: cond.guardParseError=='' }"
                                  ng-model="cond.guard" ng-change="vm.checkGuard(cond)"/>
                        <label>Action{{cond.actions.length>1?'s':''}}</label>
                        <div ng-repeat="act in cond.actions">
                            <textarea width="100%" spellcheck="false" class="form-control" uib-tooltip={{act.actionParseError}}
                                      ng-class="{ error: act.actionParseError!='', valid: act.actionParseError=='' }"
                                      ng-model="act.action" ng-change="vm.checkAction(act)"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
