<table class="table drop-target" ng-if="vm.isA == 'object'">
    <tr ng-repeat="(key, value) in vm.structure">
        <td>{{key}}</td>
        <td><sp-services-form attributes="vm.attributes[key]" structure="value" key="key"></sp-services-form></td>
    </tr>
</table>

<!--Supported non-object isA-->
<div ng-if="vm.isA == 'Option[ID]Model'">
    <form name="form">
        <input type="text" name="input" ng-model="vm.attributes" ng-pattern="/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/"/>
        <div role="alert">
            <span class="error" ng-show="form.input.$error.pattern">
                Not an UUID!
            </span>
        </div>
    </form>
    <button ng-click="vm.attributes = vm.reloadModelID()">reload</button>
</div>

<div ng-if="vm.isA == 'List[ID]includeIDAbles'">
    <form name="form">
        <textarea name="input" ng-model="vm.attributes" ng-list ng-pattern="/^([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})?(,[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})*$/"></textarea>
        <div role="alert">
            <span class="error" ng-show="form.input.$error.pattern">
                Not a list of UUIDs!
            </span>
        </div>
    </form>
    <button ng-click="vm.attributes = vm.reloadSelectedItems()">get selected</button>
    <button ng-click="vm.attributes = []">clear</button>
</div>

<div ng-if="vm.isA == 'Boolean'">
    <button ng-click="vm.attributes = !vm.attributes">{{vm.attributes}}</button>
</div>

<div ng-if="vm.isA == 'String'">
    <input type="text" ng-model="vm.attributes"/>
</div>

<div ng-if="vm.isA == 'StringWithDomain'">
    <select ng-model="vm.attributes">
        <option ng-repeat="option in vm.domainToSelectFrom" value="{{option}}">{{option}}</option>
    </select>
</div>

<div ng-if="vm.isA == 'ID'">
    <form name="form">
        <input type="text" name="input" ng-model="vm.attributes" ng-pattern="/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/"/>
        <div role="alert">
            <span class="error" ng-show="form.input.$error.pattern">
                Not an UUID!
            </span>
        </div>
    </form>
</div>

<div ng-if="vm.isA == 'List[T]'">
    <textarea ng-model="vm.attributes" ng-list tooltip='Eg.: a,b,, , c => ["a","b",""," c"]'></textarea>
    <button ng-click="vm.attributes = []">clear</button>
</div>

<!--non-object isA not supported right now will end up here-->
<div ng-if="vm.isA == 'something'">
    {{vm.structure}}
</div>

<div ng-if="vm.isA == 'KeyDef'">
    <input type="text" ng-model="vm.attributes"/>
    <p>keyDef: {{vm.structure.ofType}}</p>
</div>
