<table class="table drop-target" ng-if="vm.isA == 'object'">
    <tr ng-repeat="(key, value) in vm.structure">
        <td>{{key}}</td>
        <td><sp-services-form attributes="vm.attributes[key]" structure="value" key="key"></sp-services-form></td>
    </tr>
</table>

<!--Supported non-object isA-->
<div ng-if="vm.isA == 'Option[ID]Model'">
    <form role="form" name="form">
        <div class="form-group">
            <input type="text" name="input" class="form-control" ng-model="vm.attributes" ng-pattern="/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/"/>
            <div role="alert">
                <span class="error" ng-show="form.input.$error.pattern">
                    Not an UUID!
                </span>
            </div>
            <button class="btn btn-default" ng-click="vm.attributes = vm.reloadModelID()">
                <i class="fa fa-repeat"></i>
                reload
            </button>
        </div>
    </form>
</div>

<div ng-if="vm.isA == 'List[ID]includeIDAbles'">
    <form role="form" name="form">
        <div class="form-group">
            <textarea name="input" class="form-control" ng-model="vm.attributes" ng-list ng-pattern="/^([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})?(,[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})*$/"/>
            <div role="alert">
                <span class="error" ng-show="form.input.$error.pattern">
                    Not a list of UUIDs!
                </span>
            </div>
            <button class="btn btn-default" ng-click="vm.attributes = vm.reloadSelectedItems()">
                <i class="fa fa-download"></i>
                get selected
            </button>
            <button class="btn btn-default" ng-click="vm.attributes = []">
                <i class="fa fa-times"></i>
                clear
            </button>
        </div>
    </form>
</div>

<div ng-if="vm.isA == 'Boolean'">
    <button class="btn btn-default" ng-click="vm.attributes = !vm.attributes">
        {{vm.attributes}}
    </button>
</div>

<div ng-if="vm.isA == 'String' || vm.isA == 'Int'">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.attributes"/>
        </div>
    </form>
</div>

<div ng-if="vm.isA == 'StringWithDomain' || vm.isA == 'IntWithDomain'">
    <form role="form">
        <div class="form-group">
            <select class="form-control" ng-options="option as option for option in vm.domainToSelectFrom track by option" ng-model="vm.attributes"/>
        </div>
    </form>
</div>

<div ng-if="vm.isA == 'ID'">
    <form role="form" name="form">
        <div class="form-group">
            <input type="text" name="input" class="form-control" ng-model="vm.attributes" ng-pattern="/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/"/>
            <div role="alert">
                <span class="error" ng-show="form.input.$error.pattern">
                    Not an UUID!
                </span>
            </div>
        </div>
    </form>
</div>

<div ng-if="vm.isA == 'List[T]'">
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" ng-model="vm.attributes" ng-list/>
            <button class="btn btn-default" ng-click="vm.attributes = vm.reloadSelectedItems()">
                <i class="fa fa-download"></i>
                get selected
            </button>
            <button class="btn btn-default" ng-click="vm.attributes = []">
                <i class="fa fa-times"></i>
                clear
            </button>
        </div>
    </form>
</div>

<!--non-object isA not supported right now will end up here-->
<div ng-if="vm.isA == 'something'">
    {{vm.structure}}
</div>

<div ng-if="vm.isA == 'KeyDef'">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.attributes"/>
        </div>
    </form>
    <p>keyDef: {{vm.structure.ofType}}</p>
</div>
