<div ng-controller="spServicesController as vm" class="service-list">
    <div class="panel-content">
        <table sp-table row-collection="vm.registeredServices" displayed-collection="vm.displayedRegisteredServices">
            <thead><tr><th class="col-md-1">Action</th><th class="col-md-1">Form</th><th class="col-md-5">Name</th><th class="col-md-5">Progress</th></tr></thead>
            <tbody>
            <tr ng-repeat-start="obj in vm.displayedRegisteredServices | orderBy: '-name'" ng-class-odd="'odd-row'" ng-class-even="'even-row'">
                <!--Action-->
                <td>
                    <!-- TODO only enable Run-button if a model is active-->
                    <button class="btn btn-xs btn-primary" ng-click="vm.startSpService(obj)">
                        <i class="fa fa-play"></i> Run
                    </button>
                </td>
                <!--Form button-->
                <td>
                    <button class="btn btn-xs btn-default" ng-click="rowSettings[$index].expandInfo = !rowSettings[$index].expandInfo;" title="Show/hide form">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </td>
                <!--Name-->
                <td>{{obj.name}}</td>
                <td>
                    <div ng-if="vm.isServiceActive(obj.name)">
                        <p>type: {{vm.currentProgess[obj.name].type}}</p>
                        <p>info: {{vm.currentProgess[obj.name].info | json}}</p>
                        <p>req id: {{vm.currentProgess[obj.name].reqID}}</p>
                        <p>error: {{vm.currentProgess[obj.name].error}}</p>
                        <p>ids: {{vm.currentProgess[obj.name].ids}}</p>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end ng-class-odd="'odd-row'" ng-class-even="'even-row'">
                <td colspan="99" class="hiddenRow">
                    <div collapse="!rowSettings[$index].expandInfo">
                        Attribute att skicka:<br/>
                        {{vm.serviceAttributes[obj.name]}}
                    <!--<div collapse="rowSettings[$index].expandInfo">-->
                        <!--Form-->
                        <!--Attributes: {{obj.attributes}}-->
                        <sp-services-form attributes="vm.serviceAttributes[obj.name]" structure="obj.attributes"></sp-services-form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
