<div ng-controller="ItemEditorController as vm" class="item-editor">
    <div class="panel-toolbar">

        <div class="btn-group">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" id="mode-dropdown"
                        ng-class="{'disabled': vm.numberOfErrors > 0}" dropdown-toggle tooltip="Mode">
                    {{vm.options.mode | ucfirst}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="mode-dropdown">
                    <li ng-repeat="mode in ::vm.modes">
                        <a ng-click="vm.setMode(mode)">
                            {{::mode | ucfirst}}
                            <i class="fa fa-check pull-right" ng-show="vm.options.mode === mode"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" tooltip="Save Edited Items"
                    ng-disabled="!vm.storage.atLeastOneItemChanged" ng-click="vm.save()"><i class="fa fa-floppy-o"></i>
            </button>
        </div>

        <div class="btn-group"
             ng-if="vm.options.mode === 'tree' || vm.options.mode === 'form' || vm.options.mode === 'view'">
            <button class="btn btn-sm btn-default btn-notext" tooltip="Expand All"
                    ng-click="vm.editor.expandAll()"><i class="fa fa-expand"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Collapse All"
                    ng-click="vm.editor.collapseAll()"><i class="fa fa-compress"></i>
            </button>
        </div>

        <div class="btn-group"
             ng-if="vm.options.mode === 'code' || vm.options.mode === 'text'">
            <button class="btn btn-sm btn-default btn-notext" tooltip="Format"
                    ng-click="vm.editor.format()"><i class="fa fa-align-right"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Compact"
                    ng-click="vm.editor.compact()"><i class="fa fa-align-justify"></i>
            </button>
        </div>

        <div class="btn-group" ng-if="vm.options.mode === 'tree' || vm.options.mode === 'form'">
            <button class="btn btn-sm btn-default btn-notext" tooltip="Undo" ng-click="vm.editor._onUndo()"
                    ng-class="{'disabled': !vm.editor.history.canUndo()}"><i class="fa fa-undo"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Redo" ng-click="vm.editor._onRedo()"
                    ng-class="{'disabled': !vm.editor.history.canRedo()}"><i class="fa fa-repeat"></i>
            </button>
        </div>

        <div class="item-search pull-right"
             ng-if="vm.options.mode === 'tree' || vm.options.mode === 'form' || vm.options.mode === 'view'">
            <div class="input-group">
                <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                <input class="input-sm form-control" type="search" ng-model="vm.editor.searchBox.dom.search.value"
                       ng-change="vm.editor.searchBox._onSearch()">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-notext btn-default" tooltip="Previous"
                            ng-click="vm.editor.searchBox.previous(false)"><i class="fa fa-chevron-up"></i></button>
                    <button type="button" class="btn btn-sm btn-notext btn-default" tooltip="Next"
                            ng-click="vm.editor.searchBox.next(false)"><i class="fa fa-chevron-down"></i></button>
                </span>
            </div>
        </div>

        <span ng-show="vm.editor.searchBox.dom.search.value.length > 0" class="search-matches pull-right">
            {{vm.editor.searchBox.results.length || "no"}} results
        </span>
    </div>

    <div class="panel-content" ng-jsoneditor="vm.editorLoaded" ng-model="vm.storage.data" options="vm.options"
         ng-change="vm.change()" ng-model-options="{debounce:400}"></div>

</div>
