<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <img src="images/splogo_all_white.svg" class="navbar-logo" alt="." />
            <span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>

    <div class="navbar-collapse collapse box-shadow">
        <ul class="nav navbar-nav hidden-sm">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="newDropDown" aria-expanded="false">
                    <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                    <span class="ng-scope">New</span> <span class="fa fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="newDropDown">
                    <li><a href="#" class="ng-scope">Projects</a></li>
                    <li>
                        <a href="">
                            <span class="badge bg-info pull-right">5</span>
                            <span class="ng-scope">Task</span>
                        </a>
                    </li>
                    <li><a href="" class="ng-scope">User</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href="">
                            <span class="badge bg-danger pull-right">4</span>
                            <span class="ng-scope">Email</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" aria-haspopup="true" id="userDropDown" data-toggle="dropdown" aria-expanded="false">
                        <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                        <img src="images/a0.jpg" alt="...">
                        <i class="on md b-white bottom"></i>
                        </span>
                        <span class="hidden-sm hidden-md">John.Smith</span> <b class="fa fa-caret-down"></b>
                    </a>
                    <!-- dropdown -->
                    <ul class="dropdown-menu" aria-labelledby="userDropDown">
                        <li>
                            <a href="">
                                <span class="badge bg-danger pull-right">30%</span>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="app.page.profile" href="#/app/page/profile">Profile</a>
                        </li>
                        <li>
                            <a ui-sref="app.docs" href="#/app/docs">
                                <span class="label bg-info pull-right">new</span>
                                Help
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="access.signin" href="#/access/signin">Logout</a>
                        </li>
                    </ul>
                    <!-- / dropdown -->
                </li>
            </ul>
        </div>
    </div>
</nav>
