<div *ngIf="showNavbar">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="images/splogo_all_white.svg" class="navbar-logo" alt="." />
                <span (click)="toggleNavbar()" class="brand-title">Sequence<br />Planner</span>

            </a>
            <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li dropdown class="navbar-user">
                <a dropdownToggle>
                    <span>Kristofer</span><b class="caret"></b>
                </a>
                <ul dropdownMenu class="uib-dropdown-menu uib-dropdown-menu-right pull-right">
                    <li><a href="models"><i class="fa fa-files-o"></i> Manage models</a></li>
                    <li><a href="settings"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a><i class="fa fa-user"></i> Profile</a></li>
                    <li><a><i class="fa fa-question"></i> Help</a></li>
                    <li class="divider"></li>
                    <li><a><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </li>
        </ul>

        <div class="navbar-collapse collapse box-shadow">
            <ul class="nav navbar-nav">

                <li><a href="model-settings" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-cog"></i> {{ activeModel() || "No model" }}</a></li>
                <li><a href="dashboard" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                <li *ngIf="!isState('models')" (click)="createModel()" id="open-create-model-dialog">
                    <a data-toggle="collapse" data-target=".navbar-collapse.in">
                        <i class="fa fa-plus"></i>
                        <span>Create Model</span>
                    </a>
                </li>

                <li dropdown id="new-widget-dropdown" *ngIf="isState('dashboard')">
                    <a dropdownToggle id="new-widget-btn">
                        <i class="fa fa-plus"></i>
                        <span>New Widget</span> <span class="caret"></span>
                    </a>
                    <ul dropdownMenu class="uib-dropdown-menu" role="menu">
                        <li *ngFor="let widgetKind of widgetKinds" 
                            (click)="addWidget(widgetKind)">
                            <!--id="{{(widgetKind.title | slugify) + '-uib-dropdown-item'}}"> what is this used for?-->
                            <a href="">{{ widgetKind.title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>


<!--
<div ng-if="!vm.settingsService.showNavbar">
    <div class="navbar-toggle-button">
        <button ng-click="vm.settingsService.toggleNavbar()">Enable navbar again. TODO: make this button nice</button>
    </div>
</div>
-->

<div class="navbar-toggle-button">
    <button (click)="togglePanelLock()">lock</button>
</div>
