<div *ngIf="!showNavbar">
    <nav class="logo navbar-fixed-top">
        <div (click)="toggleNavbar()" class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="images/splogo_all_white.svg" class="navbar-logo" alt="." />
                <span  class="brand-title">Sequence<br />Planner</span>
            </a>
        </div>
    </nav>
</div>

<div *ngIf="showNavbar">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header" (click)="toggleNavbar()">
            <a href="/" class="navbar-brand">
                <img src="images/splogo_all_white.svg" class="navbar-logo" alt="." />
                <span  class="brand-title">Sequence<br />Planner</span>
            </a>
            <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>

        <div class="navbar-collapse collapse box-shadow">
            <ul class="nav navbar-nav">
                <li dropdown id="Dashboards" *ngIf="true">
                    <a dropdownToggle id="new-widget-btn">
                        <span>Dashboards</span> <span class="caret"></span>
                    </a>
                    <ul dropdownMenu class="dropdown-menu-right" role="menu">
                        <li>
                            <a href="">A dashboard</a>
                            <a href="">Another dashboard</a>
                            <a href="">Yet another dashboard</a>
                            <a href="">Model settings</a>
                            <a href="">General settings</a>
                            <a href="">TODO: add this feature</a>
                        </li>
                    </ul>
                </li>

                <li dropdown id="Widgets" *ngIf="true">
                    <a dropdownToggle id="new-widget-btn">
                        <span>New widget</span> <span class="caret"></span>
                    </a>
                    <ul dropdownMenu class="dropdown-menu-right" role="menu">
                        <li *ngFor="let widgetKind of widgetKinds"
                            (click)="addWidget(widgetKind)">
                            <!--id="{{(widgetKind.title | slugify) + '-uib-dropdown-item'}}"> what is this used for?-->
                            <a href="">{{ widgetKind.title }}</a>
                        </li>
                    </ul>
                </li>

                <li dropdown id="Views" *ngIf="true">
                    <a dropdownToggle id="new-widget-btn">
                        <span>View</span> <span class="caret"></span>
                    </a>
                    <ul dropdownMenu class="dropdown-menu-right" role="menu">
                        <!-- upg-note: serfs in this file changed to hrefs
                            because we have no ng2-router yet. The function is
                            the same as long as url and state-name are. -->
                        <li><a href="dashboard" (click)="normalView()">
                            <span>Default</span>
                        </a></li>

                        <li><a href="dashboard" (click)="compactView()">
                            <span>Compact</span>
                        </a></li>

                        <li><a href="dashboard" (click)="maximizedContentView()">
                            <span>Maximized content</span>
                        </a></li>

                        <li class="divider"></li>

                        <li><a (click)="enableEditorMode()">
                            <span>Editor mode</span>

                        </a></li>

                        <li><a (click)="disableEditorMode()">
                            <span>Viewing mode</span>

                        </a></li>

                    </ul>
                </li>

                <li dropdown id="Models" *ngIf="true">
                    <a dropdownToggle id="new-widget-btn">
                        <span>Models</span>
                        <span class="caret"></span>
                    </a>
                    <ul dropdownMenu class="dropdown-menu-right" role="menu">
                        <li><a (click)="createModel()" id="open-create-model-dialog">
                                <i class="fa fa-plus"></i>
                                <span>New model</span>
                        </a></li>

                        <li class="divider"></li>

                        <li><a href="models"><i class="fa fa-files-o"></i>  Manage models</a></li>

                        <li class="divider"></li>

                        <li><a href="model-settings" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-cog"></i> {{ activeModel() || "No model" }}</a></li>

                        <li class="divider"></li>

                        <li *ngFor="let m of models">
                            <a (click)="setActiveModel(m)" data-toggle="collapse" data-target=".navbar-collapse.in">
                                <div *ngIf="m.name == activeModelName()" class="fa fa-angle-right"></div>
                                {{ m.name }}
                            </a>
                        </li>
                    </ul>
                </li>

                <li dropdown id="Widgets" *ngIf="true">
                    <a dropdownToggle id="new-widget-btn">
                        <span>Menu</span> <span class="caret"></span>
                    </a>
                    <ul dropdownMenu class="dropdown-menu-right" role="menu">
                        <li><a href="settings"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a><i class="fa fa-user"></i> Profile</a></li>
                        <li><a><i class="fa fa-question"></i> Help</a></li>
                        <li class = "divider"></li>
                        <li><a><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
