 <div ng-if="vm.settingsService.showNavbar">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="images/splogo_all_white.svg" class="navbar-logo" alt="." />
                <span ng-click="vm.settingsService.toggleNavbar()" class="brand-title">Sequence<br />Planner</span>

            </a>
            <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li class="navbar-user" uib-dropdown>
                <a href="" class="" uib-dropdown-toggle id="user-dropdown">
                    <span>Kristofer</span><b class="caret"></b>
                </a>
                <ul class="uib-dropdown-menu uib-dropdown-menu-right  pull-right" aria-labelledby="user-dropdown">
                    <li><a ui-sref="models"><i class="fa fa-files-o"></i> Manage models</a></li>
                    <li><a ui-sref="settings"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a><i class="fa fa-user"></i> Profile</a></li>
                    <li><a><i class="fa fa-question"></i> Help</a></li>
                    <li class="divider"></li>
                    <li><a><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </li>
        </ul>

        <div class="navbar-collapse collapse box-shadow">
            <ul class="nav navbar-nav">
                <li><a ui-sref="model-settings" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-cog"></i> {{ vm.modelService.activeModel.name || "No model" }}</a></li>
                <li><a ui-sref="dashboard" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                <li ng-show="vm.$state.is('models')" ng-click="vm.createModel()" id="open-create-model-dialog">
                    <a data-toggle="collapse" data-target=".navbar-collapse.in">
                        <i class="fa fa-plus"></i>
                        <span>Create Model</span>
                    </a>
                </li>
                <li uib-dropdown id="new-widget-dropdown" ng-show="vm.$state.is('dashboard')">
                    <a uib-dropdown-toggle id="new-widget-btn">
                        <i class="fa fa-plus"></i>
                        <span>New Widget</span> <span class="caret"></span>
                    </a>
                    <ul class="uib-dropdown-menu" role="menu">
                        <li ng-repeat="widgetKind in ::vm.dashboardService.widgetKinds" id="{{::(widgetKind.title | slugify) + '-uib-dropdown-item'}}"
                            ng-click="vm.dashboardService.addWidget(vm.dashboardService.storage.dashboards[0], widgetKind)">
                            <a href="">{{::widgetKind.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>    
    </nav>
</div>

<!--
<div ng-if="!vm.settingsService.showNavbar">
    <div class="navbar-toggle-button">
        <button ng-click="vm.settingsService.toggleNavbar()">Enable navbar again. TODO: make this button nice</button>
    </div>
</div>
-->

<div class="navbar-toggle-button">
    <button ng-click="vm.settingsService.togglePanelLock()">lock</button>
</div>
