<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <img src="images/splogo_all_white.svg" class="navbar-logo" alt="." />
            <span class="brand-title">Sequence<br />Planner</span>
        </a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>

    <ul class="nav navbar-nav pull-right">
        <li class="navbar-user" dropdown>
            <a href="" class="" dropdown-toggle id="user-dropdown">
                <span>Kristofer</span><b class="caret"></b>
                <span class="thumb-sm avatar pull-right">
                    <img src="images/a0.jpg" alt="..." />
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
                <li><a ui-sref="models"><i class="fa fa-files-o"></i> Manage models</a></li>
                <li><a ui-sref="settings"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a><i class="fa fa-user"></i> Profile</a></li>
                <li><a><i class="fa fa-question"></i> Help</a></li>
                <li class="divider"></li>
                <li><a><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </li>
    </ul>

    <div class="navbar-collapse collapse box-shadow">
        <ul class="nav navbar-nav">
            <li><a ui-sref="model-settings" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-cog"></i> {{ vm.modelService.activeModel.name || "No model" }}</a></li>
            <li><a ui-sref="dashboard" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        </ul>
    </div>

</nav>
