<main class="modal-body wrapper-lg">
    <h3 class="modal-title m-b">Set live chart width</h3>
    <form name="vm.form" novalidate>
        <div class="form-group">
            <label for="widthInput">Width in minutes</label>
            <input type="number" ng-model="vm.width" name="width" id="widthInput" class="form-control" required="" autofocus />
        </div>
        <div class="clearfix">
            <button class="btn btn-success pull-right" ng-disabled="vm.form.$invalid" ng-click="vm.set()"
                id="save-button">Set</button>
        </div>
    </form>
</main>
