<div ng-controller="SOPMakerController as vm" class="sop-maker">
    <div class="panel-toolbar">
        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" tooltip="{{vm.saveButtonText()}}" ng-click="vm.save()">
                <i class="fa fa-floppy-o"></i>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" tooltip="Rotate" ng-click="vm.toggleDirection()">
                <i class="fa fa-repeat"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Add sequence" ng-click="vm.addSop()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" tooltip="Parallel" draggable="true"
                    ondragstart="event.dataTransfer.setData('text/plain', 'Parallel')">
                <i class="fa fa-pause"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Alternative" draggable="true"
                    ondragstart="event.dataTransfer.setData('text/plain', 'Alternative')">
                <i class="fa fa-arrows-h"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Arbitrary" draggable="true"
                    ondragstart="event.dataTransfer.setData('text/plain', 'Arbitrary')">
                <i class="fa fa-question"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Other" draggable="true"
                    ondragstart="event.dataTransfer.setData('text/plain', 'Other')">
                <i class="fa fa-dashcube"></i>
            </button>
        </div>
    </div>
    <div class="panel-content sop-paper"></div>
</div>
