<div ng-controller="volvoRobotSchedulingController as vm" class="simple-widget">
    <div class="panel-content" style="padding: 10px;">
        <table>
            <thead>
                <tr><td><h5>
                            <div ng-if="vm.selectedSchedules.length == 0">
                                Please select robot schedules
                            </div>
                            <div ng-if="vm.selectedSchedules.length > 0">
                                Press calculate when done selecting
                            </div>
                </h5></td></tr>
            </thead>
            <tbody ng-repeat="s in vm.selectedSchedules | orderBy:'name'">
                <tr>
                    <td style="padding: 5px">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.removeSchedule(s)">
                            <i class="fa fa-close"></i> {{s.name}} 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <button class="btn" ng-click="vm.calculate()">
            <i class="fa fa-bolt"></i> Calculate with <b>Supremica</b>
        </button>
        <div ng-if="vm.state == 'calculating'">
            Running calculations...
        </div>
        <div ng-if="vm.state == 'no sols'">
            <br>Could not find a schedule
            <br>Number of states in supervisor: <b>{{vm.numStates}}</b>
        </div>
        <div ng-if="vm.state == 'done'">
            <br>Min cycle time: <b>{{vm.minTime}}</b>
            <br>Number of states in supervisor: <b>{{vm.numStates}}</b>
            <br>Time to find sops: <b>{{vm.cpTime}}ms</b>
            <br>Search complete? <b>{{vm.cpCompleted}}</b>
            <table width="90%">
                <thead>
                    <tr><td>Time</td><td>SOP</td></tr>
                </thead>
                <tbody ng-repeat="s in vm.sops">
                    <tr>
                        <td>
                            <b>{{s._1}}s</b>
                        </td>
                        <td>
                            <a ng-click="vm.openSOP(s._2.id)" style="cursor:pointer;" uib-tooltip="open SOP"><b>{{s._2.id}}</b></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
