<div class="header">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <button class="btn btn-default" ng-click="addSSEListener()" title="Add SSE listener"><span class="glyphicon glyphicon-plus"></span></button>
    </div> <!-- end of btn-group -->
  </div> <!-- end of toolbar -->
</div> <!-- end of header -->

<div class="content">
  <div class="content-wrapper">
    <div class="col-md-12">
      <h3>PLC runtime</h3>
      <ul>
        <li ng-repeat="bar in foos">{{ bar.value }}</li>
      </ul>
    </div>
  </div> <!-- end of content-wrapper -->
</div> <!-- end of content -->
