<main class="modal-body wrapper-lg">
    <h3 class="modal-title m-b">Search cycles</h3>
    <p>Enter some data and hit the search button. Then click the cycle you want to add to your view.</p>

    <form name="vm.searchForm" novalidate>
        <div class="form-group">
            <label for="cycleIdInput">Id</label>
            <input type="text" ng-model="vm.searchQuery.cycleId" name="cycleId" id="cycleIdInput" class="form-control"
                   placeholder="Enter a cycle id" autofocus />
            <label for="fromDateInput">From date</label>
            <input type="date" ng-model="vm.searchQuery.timeSpan.from" name="fromDate" id="fromDateInput"
                   class="form-control" placeholder="yyyy-MM-dd"/>
            <label for="fromTimeInput">From time</label>
            <input type="time" ng-model="vm.searchQuery.timeSpan.from" name="fromTime" id="fromTimeInput"
                   class="form-control" placeholder="HH:mm:ss"/>
            <label for="toDateInput">To date</label>
            <input type="date" ng-model="vm.searchQuery.timeSpan.to" name="toDate" id="toDateInput"
                   class="form-control" placeholder="yyyy-MM-dd"/>
            <label for="toTimeInput">To time</label>
            <input type="time" ng-model="vm.searchQuery.timeSpan.to" name="toTime" id="toTimeInput"
                   class="form-control" placeholder="HH:mm:ss"/>
        </div>
        <div class="clearfix">
            <button class="btn btn-success pull-right" ng-disabled="vm.searchForm.$invalid" ng-click="vm.search()"
                    id="search-button">Search</button>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th><th>Start</th><th>Stop</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" ng-show="vm.foundCycles == null">Awaiting search result...</td>
                <td colspan="3"
                    ng-show="vm.foundCycles != null && vm.foundCycles.length == 0">
                    Found no cycles for this search query.
                </td>
            </tr>
            <tr ng-repeat="cycle in vm.foundCycles" ng-click="vm.addCycle(cycle)">
                <td>{{cycle.id}}</td>
                <td>{{cycle.from | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{cycle.to | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</main>
