<div ng-controller="processSimulateController as vm" class="simple-widget">
    <div class="panel-content" style="padding: 10px;">
        <!-- lägg till senare, just nu laddas alla items -->
        <div ng-if="!vm.ps.connected">
            <h4>Connect to the bus</h4>
            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.connect()">
                <i class="fa fa-play"></i> Connect
            </button>
        </div>
        <div ng-if="vm.ps.connected">
            <div>
                <h4>Connected</h4>
                <table>
                    <tr><td style="padding: 10px">
                            <button class="btn" ng-click="vm.importBasic()">
                                <i class="fa fa-arrow-left"></i> Import basic operations
                            </button>
                    </td></tr>
                    <tr><td style="padding: 10px">
                            <button class="btn" ng-click="vm.importAll()">
                                <i class="fa fa-arrow-circle-left"></i> Import everything
                            </button>
                    </td></tr>
                    <tr><td style="padding: 10px">
                            <button class="btn" ng-click="vm.importHierarchyRoots()">
                                <i class="fa fa-arrow-circle-left"></i> Update hierarchy roots
                            </button>
                    </td></tr>

                    <tr><td style="padding: 10px">
                            <form name="myForm">
                                <label for="opHier">Import operation hierarchy:</label>
                                <select name="opHier" id="mySelect"
                                        ng-options="root.name for root in vm.ps.roots track by root.txid"
                                        ng-model="vm.selectedRoot"></select>
                            </form>
                            <button class="btn" ng-click="vm.importHierarchy(vm.selectedRoot.txid)">
                                <i class="fa fa-arrow-circle-left"></i> Import hierarchy
                            </button>
                    </td></tr>

                    <tr><td style="padding: 10px">
                            <button class="btn" ng-click="vm.updateSimIDs()">
                                <i class="fa fa-chain"></i> Update id mapping
                            </button>
                    </td></tr>
                    <tr><td style="padding: 10px">
                            <button class="btn" ng-click="vm.exportSequence()">
                                <i class="fa fa-arrow-right"></i> Export selected sops
                            </button>
                    </td></tr>

                    <tr><td style="padding: 10px">
                            <button class="btn" ng-click="vm.disconnect()">
                                <i class="fa fa-unlink"></i> Disconnect
                            </button>
                    </td></tr>

                    <tr><td style="padding: 10px">
                            <button class="btn" ng-click="vm.testSomeStuff()">
                                <i class="fa fa-unlink"></i> Test Some Stuff
                            </button>
                    </td></tr>                    
                </table>
            </div>
        </div>
    </div>
</div>
