<div ng-controller="calculatorController as vm" class="simple-widget">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-3 col-md-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <label for="inputA">A</label>
                        <input type="number" ng-model="vm.a" class="form-control" id="inputA" >
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-md-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <label for="inputB">B</label>
                        <input type="number" ng-model="vm.b" class="form-control" id="inputB" >
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <button type="button" class="btn btn-sm btn-primary" ng-click="vm.calc('+')">
                    <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary" ng-click="vm.calc('-')">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>{{vm.result}}</h1>
            </div>
        </div>

    </div>
</div>
