<div ng-controller="operationControlController as vm" class="simple-widget">
    <div class="panel-content">
        <!-- lägg till senare, just nu laddas alla items -->
        <div ng-if="!vm.control.connected" style="padding: 10px;">
            <b>The resource tree id.</b>
            <input class="form-control" ng-model="vm.resourcesID"/>
            <b>Specification of connection details</b>
            <input class="form-control" ng-model="vm.connectionDetailsID"/>


            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.connect()">
                <i class="fa fa-play"></i> Connect
            </button>
        </div>
        <div ng-if="vm.control.connected">
            <div>
                <button type="button" class="btn" ng-click="vm.reset()">
                    <i class="fa fa-recycle"></i>Reset high level
                </button>
                <h4>Controlled resources</h4>
                <label>Filter resources: <input ng-model="vm.opsFilterQuery"></label>
                <table width="100%" border="1">
                    <thead>
                        <th>resource</th>
                        <th>item</th>
                        <th>value</th>
                        <th>run</th>
                    </thead>
                    <tbody ng-repeat="resource in vm.control.resourceTree | orderBy:'name' |  filter:vm.opsFilterQuery">
                        <tr><td>{{resource.name}}</td><td></td><td></td><td></td></tr>
                        <tr ng-repeat-start="ab in resource.abilities">
                            <td></td>
                            <td>{{ab.name}}</td>
                            <td>{{vm.getState(ab.id)}}</td>
                            <td><button type="button" class="btn btn-sm btn-primary" ng-click="vm.execute_op(ab.id)">
                                <i class="fa fa-play"></i>
                            </button></td>
                        </tr>
                        <tr ng-repeat="p in ab.parameters">
                            <td></td>
                            <td>{{p.name}}</td>
                            <td>{{vm.getState(p.id)}}</td>
                            <td></td>
                        </tr>
                        <tr ng-repeat-end>

                        </tr>
                        <tr ng-repeat="st in resource.state">
                            <td></td>
                            <td>{{st.name}}</td>
                            <td>{{vm.getState(st.id)}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <!--<label>Filter variables: <input ng-model="vm.varsFilterQuery"></label>-->
                <!--<table width="100%" border="1">-->
                    <!--<thead>-->
                        <!--<th class="col-md-6">Variable</th>-->
                        <!--<th class="col-md-6">State</th>-->
                    <!--</thead>-->
                    <!--<tbody ng-repeat="op in vm.variables | orderBy:'name' |  filter:vm.varsFilterQuery">-->
                        <!--<tr>-->
                            <!--<td>{{op.name}}</td>-->
                            <!--<td>{{op.state}}</td>-->
                        <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            </div>
        </div>

    </div>
</div>
