<div ng-controller="kubInputGUIControllerI4 as vm" class="simple-widget">
<style>
.LeftUpper, .LeftLower, .Middle, .RightUpper, .RightLower{
    border-radius: 5px;
    background: {{"#C0C0C0"}};
    padding: 20px;
    width: 265px;
    height: 134px;
    position: absolute;
    top: 0px;
    left: 0px;
}


.LeftUpper {
position: absolute;top:0px; left:0px;
}
.LeftLower {
position: absolute;top:135px; left:0px;
}

.Middle {
position: absolute;top:202px; left:270px; height: 67px
}

.RightUpper {
position: absolute;top:0px; left:540px;
}
.RightLower {
position: absolute;top:135px; left:540px;
}

.Padding {
position: absolute; top:5px; left:5px;
}

.Block1, .Block2, .Block3, .Block4, .Block5, .Block6, .Block7, .Block8 {
	width:60px;
	height:60px;
	background-color:rgb(255,255,255);
	border-radius: 5px;
	border: 1px solid #00AA66;
}

.Block1 {
	position: absolute; top: 0px; left: 0px;
}
.Block2 {
	position: absolute; top: 0px; left: 65px;
}
.Block3 {
	position: absolute; top: 0px; left: 130px;
}
.Block4 {
	position: absolute; top: 0px; left: 195px;
}
.Block5 {
	position: absolute; top: 65px; left: 0px;
}
.Block6 {
	position: absolute; top: 65px; left: 65px;
}
.Block7 {
	position: absolute; top: 65px; left: 130px;
}
.Block8 {
	position: absolute; top: 65px; left: 195px;
}





.ColorControlPos{
position: absolute; top: 70px; left: 343px;
}
.ColorControl1, .ColorControl2 , .ColorControl3, .ColorControl4{
width:40px;height:40px; border-radius: 5px; border: 1px solid #00AA66;
font-family: Helvetica; font-weight: bold; font-color:#5cd65c; font-size: 22px;
}
.ColorControl1{
background-color:#ffff66; position: absolute; top: 0px; left: 40px;
}
.ColorControl2{
background-color:#5cd65c; position: absolute; top: 40px; left: 0px;
}
.ColorControl3{
background-color:#ff3333; position: absolute; top: 80px; left: 40px;
}
.ColorControl4{
background-color:#0066ff; position: absolute; top: 40px; left: 80px;
}

#activeColor {
    border-radius: 20px;
    background: {{vm.buttonBG}};
    padding: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: 45px;
}


.CommandButtonsPos{position: absolute; top: 300px; left: 210px;
}
.CommandButton1, .CommandButton2, .CommandButton3, .CommandButton4, .CommandButton5, .CommandButton6{ width:125px;height:60px; border: 1px solid #00AA66;
}
.CommandButton1, .CommandButton2, .CommandButton3, .CommandButton4, .CommandButton6{ background-color:rgb(255,255,255);
}
.CommandButton1{position: absolute; top: 65px; left: 260px;
}

.CommandButton2{position: absolute; top: 0px; left: 260px;
}
.CommandButton3{position: absolute; top: 65px; left: 0px;
}
.CommandButton4{position: absolute; top: 65px; left: 130px;
}
.CommandButton5{background-color:#5cd65c; position: absolute; top: 0px; left: 0px;
}
.CommandButton6{position: absolute; top: 0px; left: 130px;
}

.TextInstruction{position: absolute; top: 10px; left: 270px; text-align: center;
}

.ProggressUpdate{position: absolute; top: 275px; left: 360px; text-align: center;}
</style>
    <div class="panel-content">
     <p vm.setActiveColor(1) ></p>


<!-------- Left Plate upper half--------------------------------------------------------------------------------------------------->
	
       <div class="LeftUpper"> 
		<div class="Padding"> 
		
			<button type="button" class="Block1"
		                ng-click="vm.saveNumber('button141','Left',3,0)" id="button141" value = button141;>
		        </button>
		        <button type="button" class="Block2"
		                ng-click="vm.saveNumber('button142','Left',3,1)" id="button142" value = "button142";>
		        </button>

		        <button type="button" class="Block3"
		                ng-click="vm.saveNumber('button143','Left',3,2)" id="button143" value = "button143";>
		        </button>
		        <button type="button" class="Block4"
		                ng-click="vm.saveNumber('button144','Left',3,3)" id="button144" value = "button144";>
		        </button>
		        <br>    
		        <button type="button" class="Block5"
		                ng-click="vm.saveNumber('button131','Left',2,0)" id="button131" value = "button131";>
		        </button>
		        <button type="button" class="Block6" 
		                ng-click="vm.saveNumber('button132','Left',2,1)" id="button132" value = "button132";>
		        </button>
		        <button type="button" class="Block7"
		                ng-click="vm.saveNumber('button133','Left',2,2)" id="button133" value = "button133";>
		        </button>
		        <button type="button" class="Block8"
		                ng-click="vm.saveNumber('button134','Left',2,3)" id="button134" value = "button134";>
		        </button>
		</div> 
	</div>
<!----------------------------------------------------------------------------------------------------------------------------->
<br>


<!-------- Left Plate lower half--------------------------------------------------------------------------------------------------->

      <div class="LeftLower">  
		<div class="Padding">
	
		        <button type="button" class="Block1"
		                ng-click="vm.saveNumber('button121','Left',1,0)" id="button121" value = "button121";>
		        </button>
		        <button type="button" class="Block2" 
		                ng-click="vm.saveNumber('button122','Left',1,1)" id="button122" value = "button122";>
		        </button>
		        <button type="button" class="Block3"
		                ng-click="vm.saveNumber('button123','Left',1,2)" id="button123" value = "button123";>
		        </button>
		        <button type="button" class="Block4"
		                ng-click="vm.saveNumber('button124','Left',1,3)" id="button124" value = "button124";>
		        </button>


		        <br>
                       <button type="button" class="Block5"
                                ng-click="vm.saveNumber('button111','Left',0,0)" id="button111" value = "button111";>
                       </button>
                       <button type="button" class="Block6"
                                ng-click="vm.saveNumber('button112','Left',0,1)" id="button112" value = "button112";> 
                       </button>
                       <button type="button" class="Block7"
                                ng-click="vm.saveNumber('button113','Left',0,2)" id="button113" value = "button113";>
                       </button>
                       <button type="button" class="Block8"
                                ng-click="vm.saveNumber('button114','Left',0,3)" id="button114" value = "button114";>
                       </button>
		</div>
	</div>
<!----------------------------------------------------------------------------------------------------------------------------->
<br>


<!-------- Middle Plate--------------------------------------------------------------------------------------------------->	
      	 <div class="Middle">  
		<div class="Padding" style="top: 3.5px;">  
	
		    <button type="button" class="Block1"
                            ng-click="vm.saveNumber('button311','Middle',0,0)" id="button311" value = "button311";>
                    </button>
                    <button type="button" class="Block2"
                            ng-click="vm.saveNumber('button312','Middle',0,1)" id="button312" value = "button312";>
                    </button>
                    <button type="button" class="Block3"
                            ng-click="vm.saveNumber('button313','Middle',0,2)" id="button313" value = "button313";>
                    </button>
                    <button type="button" class="Block4"
                            ng-click="vm.saveNumber('button314','Middle',0,3)" id="button314" value = "button314";>
                    </button>
		</div> 
	</div>
<!----------------------------------------------------------------------------------------------------------------------------->

<br>


<!-------- Right Plate upper half--------------------------------------------------------------------------------------------------->
                   
        <div class="RightUpper">   
		<div class="Padding"> 
		
			<button type="button" class="Block1"
		                ng-click="vm.saveNumber('button241','Right',3,0)" id="button241" value = button241;>
		        </button>
		        <button type="button" class="Block2"
		                ng-click="vm.saveNumber('button242','Right',3,1)" id="button242" value = "button242";>
		        </button>
		        <button type="button" class="Block3"
		                ng-click="vm.saveNumber('button243','Right',3,2)" id="button243" value = "button243";>
		        </button>
		        <button type="button" class="Block4"
		                ng-click="vm.saveNumber('button244','Right',3,3)" id="button244" value = "button244";>
		        </button>
		        <br>      
		        <button type="button" class="Block5"
		                ng-click="vm.saveNumber('button231','Right',2,0)" id="button231" value = "button231";>
		        </button>
		        <button type="button" class="Block6"
		                ng-click="vm.saveNumber('button232','Right',2,1)" id="button232" value = "button232";>
		        </button>
		        <button type="button" class="Block7"
		                ng-click="vm.saveNumber('button233','Right',2,2)" id="button233" value = "button233";>
		        </button>
		        <button type="button" class="Block8"
		                ng-click="vm.saveNumber('button234','Right',2,3)" id="button234" value = "button234";>
		        </button>
		</div>
	</div>
<!----------------------------------------------------------------------------------------------------------------------------->
		<br>

<!-------- Plate 2 lower half--------------------------------------------------------------------------------------------------->
	
	
        <div class="RightLower">  
		<div class="Padding">           
	    
		        <button type="button" class="Block1"
		                ng-click="vm.saveNumber('button221','Right',1,0)" id="button221" value = "button221";>
		        </button>
		        <button type="button" class="Block2"
		                ng-click="vm.saveNumber('button222','Right',1,1)" id="button222" value = "button222";>
		        </button>
		        <button type="button" class="Block3"
		                ng-click="vm.saveNumber('button223','Right',1,2)" id="button223" value = "button223";>
		        </button>
		        <button type="button" class="Block4" 
		                ng-click="vm.saveNumber('button224','Right',1,3)" id="button224" value = "button224";>
		        </button>

		        <br>
                        <button type="button" class="Block5"
                                ng-click="vm.saveNumber('button211','Right',0,0)" id="button211" value = "button211";>
                        </button>
                        <button type="button" class="Block6"
                                ng-click="vm.saveNumber('button212','Right',0,1)" id="button212" value = "button212";>
                        </button>
                        <button type="button" class="Block7" 
                                ng-click="vm.saveNumber('button213','Right',0,2)" id="button213" value = "button213";>
                        </button>
                        <button type="button" class="Block8"
                                ng-click="vm.saveNumber('button214','Right',0,3)" id="button214" value = "button214";>
                        </button>
		</div>
	</div>
<!----------------------------------------------------------------------------------------------------------------------------->               

		<!----Command Buttons------------->
	<div class="CommandButtonsPos"; id="CommandButtons" >
                <br>
                <button type="button" class="CommandButton1"
                        ng-click="vm.Queue()" id="buttonQueue" value = "1";>
                    <h1 class="text-center" id="buttonQueueText";>Place last in Queue</h1>
                </button>
                <button type="button" class="CommandButton2"
                        ng-click="vm.reset()" id="buttonReset" xml:id="CommandButtons" value = "buttonReset";>
                    <h1 class="text-center"; id="ResetButtonText";>Reset all</h1>
                </button>
                <br>
                <button type="button" class="CommandButton3"
                        ng-click="vm.setMode('StopResume')" id="buttonStopResume" xml:id="CommandButtons" value = "StopResume";>
                    <h1 class="text-center"; id="StopResumeButtonText";>Stop</h1>
                </button>
                <button type="button" class="CommandButton4"
                        ng-click="vm.setMode('CurrentOrder')" id="buttonCurrentOrder" xml:id="CommandButtons" value = "buttonCurrentOrder";>
                    <h1 class="text-center">Current Order</h1>
                </button>
		<br>
		<button type="button" class="CommandButton5"
                        ng-click="vm.setMode('Status')" id="Status" xml:id="CommandButtons" value = "Status";>
                    <h1 class="text-center"; id="StatusButtonText";>Confirm</h1>
                </button>
		<button type="button" class="CommandButton6"
                        ng-click="vm.setMode('NewOrder')" id="NewOrder" xml:id="CommandButtons" value = "NewOrder";>
                    <h1 class="text-center"; id="OrderButtonText";>New Order</h1>
                </button>
	</div>



	<!----Color Palette------------->
	    <div class="ColorControlPos" >
                <input type="button" class="ColorControl1"
                        ng-click="vm.setActiveColor(1)" id="1" value = "0";>
                </button>
                <input type="button" class="ColorControl2"
                        ng-click="vm.setActiveColor(2)" id="2" value = "0";>
                </button>
                <input type="button" class="ColorControl4"
                        ng-click="vm.setActiveColor(4)" id="4" value = "0";>
			
                </button>
                <input type="button" class="ColorControl3"
                        ng-click="vm.setActiveColor(3)" id="3" value ="0">
                </button>
		<p id="activeColor"></p>
            </div>
	
	<div class="TextInstruction">
		<h7 id="TextInstruction"; text-align: center>Initialize positions of the blocks and confirm</h7>	
	</div>
	
	<div class="ProggressUpdate">
		<h7 id="ProggressUpdate"; text-align: center>No orders under construction</h7>	
	</div>

    </div>
</div>


