<main class="modal-body wrapper-lg">
    <h3 class="modal-title m-b">Create {{::vm.itemKind.label}}</h3>
    <p>Choose a name for your new item.</p>
    <form name="vm.form" novalidate>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" ng-model="vm.name" name="name" id="inputName" class="form-control" required="" placeholder="Enter a name" autofocus />
        </div>
        <div class="clearfix">
            <button class="btn btn-success pull-right" ng-disabled="vm.form.$invalid" ng-click="vm.save()"
                id="create-model">Create</button>
        </div>
    </form>
</main>
