<div ng-controller="ItemExplorerController as vm" class="item-explorer">
    <div class="panel-toolbar">
        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" tooltip="Expand All"
                    ng-click="vm.expandAll()"><i class="fa fa-expand"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Collapse All"
                    ng-click="vm.collapseAll()"><i class="fa fa-compress"></i>
            </button>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm btn-default btn-notext" tooltip="Select All"
                    ng-click="vm.selectAll()"><i class="fa fa-check-square"></i>
            </button>
            <button class="btn btn-sm btn-default btn-notext" tooltip="Deselect All"
                    ng-click="vm.deselectAll()"><i class="fa fa-square"></i>
            </button>
        </div>

        <div class="btn-group">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-sm btn-default btn-notext dropdown-toggle"
                        id="create-item-dropdown" dropdown-toggle tooltip="Create item">
                        <i class="fa fa-plus"></i><i class="caret" style="margin-left: 5px;"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="create-item-dropdown">
                    <li ng-repeat="itemKind in ::vm.itemKinds">
                        <a ng-click="vm.createItem(itemKind)">
                            {{::itemKind.label}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="item-search pull-right">
            <div class="input-group">
                <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                <input class="input-sm form-control" type="search" ng-model="vm.searchText"
                       ng-change="vm.search()" ng-model-options="{debounce: 400}"/>
            </div>
        </div>
    </div>

    <div class="panel-content" js-tree="vm.treeConfig" tree="vm.treeInstance"
         tree-events="ready:vm.onTreeReady;move_node:vm.onNodeMove;copy_node:vm.onNodeCopy;changed:vm.onSelectionChange">
    </div>

</div>
